@charset "UTF-8";

.form {

    &__input-block {
        position: relative;
        display: block;
        width: 100%;

        > input {
            @include font(1.5rem,1.5rem);
            padding: 1rem 2.4rem 1rem 1.4rem;
            display: block;
            width: 100%;
            border: 1px solid $color-border;
        }

        > textarea {
            resize: none;
            height: 8rem;
            @include font(1.5rem,1.5rem);
            padding: 1rem 2.4rem 1rem 1.4rem;
            display: block;
            width: 100%;
            border: 1px solid $color-border;
        }

        &--absolute-label {

            > label {
                display: block;
                white-space: nowrap;

                @include mq(xs) {
                    margin-bottom: .8rem;
                }

                @include mq(md) {
                    @include font(1.5rem,1.5rem);
                    position: absolute;
                    left: -3rem;
                    top: 50%;
                    transform: translate(-100%,-50%);
                }

                &::after {
                    display: inline-block;
                    margin-left: .5rem;
                    color: #ff6464;
                }

                &[data-pflichtfeld] {
                    &::after {
                        content: '*';
                    }
                }

            }
        }

        &--absolute-label-top {

            > label {
                display: block;
                white-space: nowrap;

                @include mq(xs) {
                    margin-bottom: .8rem;
                }

                @include mq(md) {
                    @include font(1.5rem,1.5rem);
                    position: absolute;
                    left: -3rem;
                    top: 0;
                    transform: translateX(-100%);
                }

                &::after {
                    display: inline-block;
                    margin-left: .5rem;
                    color: #ff6464;
                }

                &[data-pflichtfeld] {
                    &::after {
                        content: '*';
                    }
                }

            }
        }
    }

    &__input-block.is-error {

        > input {
            border-color: #ee4623;
        }

        > .error-message {

            @include mq(md) {
                display: block;
            }


        }
    }

    .error-message {
        @include font(1.5rem,1.5rem);
        display: none;
        position: absolute;
        right: -3rem;
        top: 50%;
        transform: translate(100%,-50%);
        color: #ee4623;
    }


    &__icon {
        @include font(2.1rem,2.1rem);
        position: absolute;
        display: block;
        top: 50%;
        transform: translateY(-50%);
        right: 1rem;
        color: $color-base;
        opacity: .4;
    }


    &__checkbox {
        @include size(2.2rem);
        position: relative;
        margin-right: 1rem;
        border: 1px solid $color-base-lighter;
        z-index: 2;

        > input {
            @include size(100%);
            position: absolute;
            left: 0;
            right: 0;
            opacity: 0;
            z-index: 3;

            + span {
                @include size(1.6rem);
                position: absolute;
                left: 0;
                top: 0;
                border-radius: 2px;
                z-index: 2;

                + i {
                    @include font(1.6rem,1.6rem);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    display: none;
                    color: #7ec856;
                }

            }

            &:checked + span + i {
                display: block;
            }
        }
    }

    &__label-checkbox {
        @include font(1.5rem, 1.5rem);
        position: relative !important;
        display: flex !important;
        align-items: center;
        left: auto !important;
        top: auto !important;
        transform: translate(0,0) !important;
        width: 100% !important;
        white-space: normal !important;
        color: $color-base;

        &-txt {
            display: block;
        }
    }



    &__checkbox-label {

    }

}
