.form-popup {
    position: relative;
    background: #fff;
    width: 100%;
    height: 100%;

    @include mq(md) {
        margin: 2rem auto;
        width: 48rem;
    }

    &__nav {
        display: flex;

        > a {
            @include font(1.9rem,2rem);
            @include interact(opacity, .95);
            display: block;
            padding: 2.5rem;
            width: 50%;
            text-align: center;
            background: $color-brand;
            color: #fff;
        }


        > a.is-current {
            background: #fff;
            color: $color-brand
        }
    }

    &__form-body {
        padding: 4rem 4rem 0;

        @include mq(md) {
            padding: 4rem 6rem 0;
        }
    }

    &__header {
        margin-bottom: 3rem;
        text-align: center;
    }

    &__title {
        @include font(2.4rem,3rem);
        margin-bottom: 1rem;
    }

    &__description {
        @include font(1.5rem,2rem);
        margin-bottom: 1rem;
        color: rgba($color-base, .7);
    }

    &__input-box {
        border: 1px solid rgba($color-base, .3);
    }

    &__input-line {
        position: relative;
        display: block;

        &:not(:last-child) {
            border-bottom: 1px solid rgba($color-base, .3);
        }

        > input {
            @include size(100%);
            @include font(1.5rem,1.5rem);
            position: relative;
            display: block;
            padding: 1.7rem;
            color: $color-base;
            border: 0;
            z-index: 2;

            &::placeholder {
                color: rgba($color-base, .3);
            }

            &[type=password] {
                padding-right: 3rem;
            }
        }
    }

    &__input-line.is-error {

        &::before {
            @include size(100%);
            position: absolute;
            top: 0;
            left: 0;
            outline: 1px solid #ee4623;
            z-index: 0;
            content: '';
        }
    }

    &__check-line {
        margin: 1.6rem 0;
    }

    &__errror-message {
        display: none;
        margin: 1.6rem 0;
        > p {
            @include font(1.5rem,2rem);
            text-align: center;
            color: #ee4623;
        }
    }

    &__errror-message.is-active {
        display: block;
    }

    &__button-box {
        margin: 2rem 0;

        > button {
            display: block;
            width: 100%;
            flex: none;
        }
    }

    &__privacy-box {

        > p {
            @include font(1.3rem,1.8rem);
            text-align: center;
            color: $color-base-lighter;

            > a {
                color: $color-base;
                text-decoration: underline;
            }
        }

    }


    &__social-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-bottom: 1.4rem;
        text-align: center;

    }

    &__social-grid {


        @include mq(md) {
            display: inline-flex;
            justify-content: center;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        @include mq(xs) {
            &:not(:last-child) {
                margin-bottom: 1.8rem;
            }

        }

        > a {
            color: #fff;

            &:not(:last-child) {
                margin-right: 1rem;
            }

            @include mq(md) {

                &:hover {
                    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.15);
                }

            }
        }
    }

    &__txt-line {
        @include font(1.5rem,2rem);
        margin: 1.4rem 0 2rem;
        text-align: center;
        color: $color-base;
        opacity: .3;
    }


}
