@charset "UTF-8";

.add-comment-block {

    @include mq(md) {
        margin: 0 20rem;
    }

    &__form {

    }

    &__form-line {

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        .ui-state-placeholder, .ui-state-disabled {
            color: $color-base;
            opacity: .7;
        }

        input {
            &::placeholder {
                color: $color-base;
                opacity: .3;
            }
        }
    }


    &__switch-box {

        margin-top: 2rem;
        text-align: center;
    }

    &__switch-rating {
        position: relative;
        display: block;
        margin-top: 1rem;
        margin-bottom: -2.2rem;
        transform: translateX(-.4rem);


        &::after {
            @include text-base();
            display: block;
            text-align: center;
            color: rgba($color-base, .3);
            content: 'Ваша оценка';
        }

        label {
            font-size: 2.2rem;
        }

        > fieldset {
            display: inline-block;
            pointer-events: auto;
            margin-bottom: -2rem;
        }
    }

    &__button-box {
        margin-top: 5rem;
        text-align: center;
    }


}
