.add-comment-block {

    @include mq(md) {
        margin: 0 20rem;
    }

    &__form {

    }

    &__form-line {

        &:not(:last-child) {
            margin-bottom: 1rem;
        }

        .ui-state-placeholder, .ui-state-disabled {
            color: $color-base;
            opacity: .7;
        }

        input {
            &::placeholder {
                color: $color-base;
                opacity: .3;
            }
        }
    }


    &__switch-box {

        margin-top: 2rem;
        text-align: center;
    }

    &__switch-rating {
        position: relative;
        margin-top: 1rem;
        margin-bottom: -2.2rem;
        transform: translateX(-.4rem);
        pointer-events: none;


        &::before {
            position: absolute;

        }

        label {
            font-size: 1.8rem;
        }

        > fieldset {
            display: inline-block;
            pointer-events: auto;
        }
    }


}
