.clothes-catalog {
    margin: 4rem 0;
    padding-bottom: 4rem ;
    border-bottom: 1px solid $color-border;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include mq(md) {
        margin: 4.5rem 0;
        padding-bottom: 5rem ;
    }

    &--no-buffer {
        border: 0;
    }


    &__link {
        color: inherit;
    }

    &__grid {

        @include mq(md) {
            @include grid(x, flex-start, stretch);
            margin-bottom: -5rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem;

        @include mq(md) {
            @include grid-col;
            @include col-size(1/4);
            margin-bottom: 5rem;

            &:hover {
                .clothes-catalog__item-image {
                    img {
                        opacity: .8;
                    }
                }
            }
        }
    }

    &__item-image {
        position: relative;
        background: #000;

        img {
            margin: 0 auto;
            width: 100%;
            height: auto;
            vertical-align: top;
            transition: all $transition-duration-base;
        }
    }


    &__item-information {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1.5rem;
    }

    &__title,
    &__price {
        @include text-base();
        display: inline-block;
        width: 100%;
        text-align: center;
        color: $color-base;
        transition: $transition-duration-base;
        min-height: 1px;

        &:not(:last-child) {
            margin-bottom: .8rem;
        }
    }

    &__old-price {
        opacity: .7;
        text-decoration: line-through;
    }

    &__title[data-fade] {
        position: relative;
        overflow: hidden;
        white-space: nowrap;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            width: 3rem;
            height: 100%;
            content: ''
        }

    }

    &__price {
        font-weight: 500;
    }

    &__button-block {
        margin-top: auto;
    }


    // for universe

    &__universe-title {
        @include text-large();
        text-align: center;
        color: $color-base;
    }

    &__universe-description {
        @include font(1.5rem,2.5rem);
        margin-top: .4rem;
        text-align: center;
        color: $color-base-lighter;
    }


}
