.faq {
    margin-top: 3.5rem;

    @include mq(md) {
        margin-top: 4rem;
        margin-left: 20rem;
        margin-right: 20rem;
    }

    &__search-form {
        margin-bottom: 3.5rem;

        @include mq(md) {
            margin-bottom: 3rem;
        }
    }
}
