.icon-button-big {
    @include size(5rem);
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: $color-brand;
    border: 1px solid $color-border;
    border-radius: 50%;

    > i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }


    &:hover {
        > i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    > i {
        @include font(2rem,2rem);
        transition: $transition-duration-base;
        display: block;
    }

    &--search {
        > i {

        }
    }


    &--facebook {
        background: #3b5997;
    }

    &--twitter {
        background: #0fb5ee;
    }

    &--ok {
        background: #f58220;
    }

    &--insta {
        background: #d6249f;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    }

    &--youtube {
        background: #cc181e;
    }

    &--telegram {
        background: #2ca5e0;
    }



}
