.insta-slider {
    margin-top: 3rem;

    @include mq(md) {
        margin-top: 4rem;
    }

    &__box {
        position: relative;
        overflow: hidden;
    }

    &__body {

        @include mq(md) {
            margin-right: -17.5rem;
        }


    }

    &__item {
        display: block;
        outline: none;

       @include mq(md) {
           max-width: 35rem;
       }
    }

    &__slick-next {
        display: none;

        @include mq(md) {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 13rem;
            background: rgba(255,255,255, .9);
            color: $color-brand;
        }

        &:hover {
            background: rgba(255,255,255, .8);;
        }

        > i {
            position: absolute;
            display: block;
            top: 50%;
            right: 2rem;
            transform: translate(-50%);
            width: 3.3rem;
            height: 6rem;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            background-size: contain;
            background-image: url(../img/svg/slick-next.svg);
        }

    }


}
