.magazine-catalog {

    &__category-box {
        margin: 4rem 0;
        padding-bottom: 4rem ;
        border-bottom: 1px solid $color-border;

        &:last-child {
            margin-bottom: 0;
        }

        @include mq(md) {
            margin: 4.5rem 0;
            padding-bottom: 5rem ;
        }
    }

    &__link {
        position: relative;
        color: inherit;
    }

    &__tag-box {
        @include size(100%);
        position: absolute;
        display: block;
        top: 0;
        left: 0;
    }

    &__grid {
        @include grid(x, flex-start, stretch);

        @include mq(md) {
            margin-bottom: -5rem;
        }
    }

    &__item {
        @include grid-col;
        @include col-size(1/2);
        margin-bottom: 4rem;

        @include mq(md) {
            @include grid-col;
            @include col-size(1/6);
            margin-bottom: 5rem;
        }

        &--col-8 {
            @include mq(md) {
                @include col-size(1/8);
            }

            .magazine-catalog__title {
                position: relative;
                overflow: hidden;
                white-space: nowrap;

                &::after {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
                    background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
                    background: -o-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
                    background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
                    background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
                    width: 3rem;
                    height: 100%;
                    content: ''
                }
            }
        }
    }

    &__item-image {
        position: relative;

        img {
            margin: 0 auto;
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }


    &__item-information {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 1.5rem;
    }

    &__title,
    &__price {
        @include text-base();
        display: inline-block;
        width: 100%;
        text-align: center;
        color: $color-base;
        transition: $transition-duration-base;
        min-height: 1px;

        &:not(:last-child) {
            margin-bottom: .8rem;
        }
    }

    &__old-price {
        opacity: .7;
        text-decoration: line-through;
    }

    &__title[data-fade] {
        position: relative;
        overflow: hidden;
        white-space: nowrap;

        &::after {
            position: absolute;
            top: 0;
            right: 0;
            background: -moz-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            background: -webkit-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            background: -o-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            background: -ms-linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.78) 30%, rgba(255,255,255,0.8) 38%, rgba(255,255,255,1) 100%);
            width: 3rem;
            height: 100%;
            content: ''
        }

    }

    &__price {
        font-weight: 500;
    }

    &__button-block {
        margin-top: auto;
    }

    &__date {
        @include font(1.3rem,1.3rem);
        margin-top: 1.4rem;
        text-transform: uppercase;
        color: $color-base;
        opacity: .3;
    }

}
