.main-subscription {

    &__grid {
        @include mq(md) {
            display: flex;
            align-items: stretch;
        }
    }

    &__item {
        position: relative;
        min-height: 58rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;

        @include mq(xs) {
            &:not(:last-child) {
                margin-bottom: 3rem;
            }
        }

        @include mq(md) {
            width: 50%;
            min-height: 58rem;
        }

        &--news {
            display: flex;
            flex-direction: column;
            background-color: #2a4180;

            @include mq(xs)  {
                background-image: url(../img/bg-sub-m.jpg);
            }
            @include mq(md)  {
                background-image: url(../img/bg-sub.jpg);
            }
        }

        &--social {
            padding: 2rem;
            background-color: #f2f2f2;

            @include mq(md) {
              padding: 7.5rem 10rem;
            }
        }
    }

    &__title{
        @include h3();
        text-align: center;
        margin-bottom: 1.6rem;
    }

    &__description {
        @include text-base();
        margin-bottom: 2.4rem;
    }

    // subscribtion news

    &__news {
        margin-top: auto;
        margin-bottom: 3.5rem;
        padding: 0 1rem;
        text-align: center;
        color: #fff;

        @include mq(md) {
            margin-bottom: 6.5rem;
            padding: 0 2rem;
        }
    }

    &__form {
        margin-bottom: 2rem;
    }

    &__input-block {
        background: #fff;

        @include mq(md) {
            display: flex;
            max-width: 40rem;
            margin: 0 auto;
        }

        > input {
            @include font(1.5rem,1.5rem);
            flex: 1;
            display: block;
            width: 100%;
            padding: 1.6rem 1.8rem;
            background: #fff;
            color: rgba(26,26,26, .7);

            &::placeholder {
                color: $color-base;
            }

        }

        > button {
            @include font(1.3rem,1.5rem);
            @include interact(opacity,.8);
            display: block;
            width: 100%;
            padding: 1.8rem 1.8rem 1.7rem;
            background: $color-brand;
            text-align: center;
            text-transform: uppercase;
            color: #fff;
            transition: $transition-duration-base;

            @include mq(md) {
                width: 14rem;

                &:active,
                &:focus {
                    opacity: .8;
                }

            }
        }
    }

    &__without-spam {
        @include font(1.5rem,1.5rem);
        display: block;
        text-align: center;
        color: #fff;
    }

    // subscribtion social

    &__vk-box {
        border-radius: $border-radius-base;

        > img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }
    }

    &__in-touch {
        margin: 2.4rem 0;
        text-align: center;
        color: $color-base;

        @include mq(md) {
            margin: 2.4rem -2rem;
        }
    }

    &__social-links {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 2.4rem;
        text-align: center;

        @include mq(xs) {
            padding: 0 3rem;
        }




    }

    &__social-grid {


        @include mq(md) {
            display: inline-flex;
            justify-content: center;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }

        @include mq(xs) {
            &:not(:last-child) {
                margin-bottom: 1.8rem;
            }

        }

        > a {
            color: #fff;

            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
    }


}
