.main-blog {
    margin-top: 4rem;

    &--for-blog-page {

        > .main-blog__item-box {

            > .main-blog__item {
                width: 100%;

                @include mq(xs) {
                    &:not(:last-child) {
                        margin-bottom: 2rem;
                        padding-bottom: 1.4rem;
                        border-bottom: 1px solid $color-border;
                    }
                }


                @include mq(md) {
                    flex-direction: row;
                    padding: 0;

                    &:not(:last-child) {
                        margin-bottom: 5rem;
                    }
                }


                .main-blog__title {
                    @include font(2.5remrem,3.5rem);

                    @include mq(md) {
                        @include font(3rem,4rem);
                    }
                }

                .main-blog__statistics {
                    display: flex;
                    align-items: center;
                    margin-bottom: 1rem;

                    @include mq(md) {
                        margin-bottom: 2rem;
                    }

                    > i, > .main-blog__time {
                        @include font(1.3rem,1.3rem);
                        display: inline-block;
                    }

                    > .main-blog__time {
                        margin-top: 0;
                        margin-bottom: 0;
                    }

                }

            }
        }
    }

    &__item-box {

    }

    &__link {
        color: inherit;
    }

    &__grid {

        @include mq(md) {
            @include grid(x, flex-start, stretch);
        }

        &--alt {
            padding-bottom: 5rem;
            border-bottom: 1px solid $color-border;

            @include mq(md) {
                margin-left: -10rem;
                margin-right: -10rem;
            }

        }


    }

    &__item {
        display: flex;
        flex-direction: column;
        color: $color-base;

        @include mq(md) {
            @include grid-col;
            @include col-size(1/4);
        }
    }

    &__image {

        > img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }

    }

    &__information {

        @include mq(xs) {
            margin-top: 2rem;
        }

        @include mq(md) {
            margin-left: 3rem;
            flex: 1;
        }

    }

    &__time {
        @include font(1.3rem,1.3rem);
        margin: 1.6rem 0 1.2rem;
        text-transform: uppercase;
        font-weight: 500;
        color: $color-base;
        opacity: .4;
    }

    &__title {
        @include h5();
        margin-bottom: .8rem;
    }

    &__statistics {
        color: $color-base;

        > .main-blog__time {
            margin-right: 1rem;
        }


        > i {
            @include font(1.6rem,1.6rem);
            display: inline-block;
            margin-right: 1rem;
            color: #d4d6d7;

            &::after {
                @include font(1.3rem,1.3rem);
                display: inline-block;
                margin-left: .5rem;
                font-style: normal;
                content: attr(data-quantity);
                transform: translateY(-.2rem);
                color: $color-base;
                opacity: .4;
            }
        }
    }

    // style for slick

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: 1.8rem;

        > li {

            &:not(:last-child) {
                margin-right: 1.5rem;
            }

            span {
                @include size(.7rem);
                display: block;
                border-radius: 50%;
                background: #b3b3b3;
            }
        }

        li.slick-active {
            span {
                background: $color-brand;
            }
        }
    }

}
