.main-blog {

    &__link {
        color: inherit;
    }

    &__grid {

        @include mq(md) {
            @include grid(x, flex-start, stretch);
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        color: $color-base;

        @include mq(xs) {
            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }

        @include mq(md) {
            @include grid-col;
            @include col-size(1/4);
        }
    }

    &__image {

        > img {
            width: 100%;
            height: auto;
            vertical-align: top;
        }

    }

    &__time {
        @include font(1.3rem,1.3rem);
        margin: 1.8rem 0;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__title {
        @include h5();
        margin-bottom: 1.6rem;
    }

    &__statistics {
        margin-top: auto;


        > i {
            @include font(1.6rem,1.6rem);
            display: inline-block;
            margin-right: 1rem;
            color: #d4d6d7;

            &::after {
                @include font(1.3rem,1.3rem);
                display: inline-block;
                margin-left: 1rem;
                color: $color-base;
                font-style: normal;
                opacity: .4;
                content: attr(data-quantity);
                transform: translateY(-.2rem);


            }
        }

    }


}
