.mobile-menu {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    transform: translateX(-100%);
    transition: all $transition-duration-base;
    overflow-y: auto;
    background: #fff;


    &__body {
        padding: 0 2rem;
        overflow: hidden;
    }

    &__search-form {
        margin: 0 -2rem;
        border-top: 1px solid $color-border;
        border-bottom: 1px solid $color-border;

        input {
            padding-left: 5.5rem;
            border: 0;
        }

    }

    &__search-button {
        @include size(2.6rem);
        position: absolute;
        top: 50%;
        left: 2rem;
        transform: translateY(-50%);

        > i {
            @include size(1.6rem);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            background-image: url(../img/loop.svg);
            background-position: 50% 50%;
            background-size: contain;
            background-repeat: no-repeat;
        }

    }


    // navigate

    &__navigate {

        > ul {

            li {
                @include font(1.5rem, 2rem);
                position: relative;
                padding: 1.6rem 1.5rem 1.4rem 0;

                a {
                    color: $color-base;
                }
            }

            > li {

                &:not(:last-child) {
                    border-bottom: 1px solid $color-border;
                }

                > a {
                    display: block;
                    font-weight: 500;
                    text-transform: uppercase;
                }

                > ul {
                    display: none;
                    padding: 1.5rem 0;

                    > li {
                        padding-left: 1.8rem;

                        &::before {
                            @include size(.3rem);
                            position: absolute;
                            top: 2.3rem;
                            left: 0;
                            border-radius: 50%;
                            background: #b3b3b3;
                            content: '';
                        }

                    }

                }

                > ul.is-active {
                    display: block;
                }

            }

        }

    }


    &__footer {
        margin: 0 -2rem;
        padding: 1.5rem 2rem;
        background: $color-base;

        > ul {
            padding: 1rem 0;
            border-bottom: 1px solid #fff;

            + ul {
                border-bottom: 0;
            }

            > li {
                @include font(1.5rem, 2rem);
                padding: 1.1rem 0 1rem 0;

                > a {
                    display: block;
                    color: #fff;
                    text-transform: none;
                    font-weight: 400;
                }
            }

        }

    }

    &__footer-list-grid {
        display: flex;
        justify-content: space-between;
        align-items: center;

        > li {
            display: block;
            width: 50%;
            white-space: nowrap;

            &:first-child {
                padding-right: 1rem;
                font-size: 1.9rem;
            }

            &:last-child {
                padding-left: 1rem;
                text-align: right;
            }

        }

    }

    &__open-list-button {
        position: absolute;
        display: block;
        top: .4rem;
        right: 0;
        transform: translateX(50%);

        > i {
            @include font(2.2rem, 2.2rem);
            display: block;
            padding: 1rem;
            color: #b3b3b3;
        }
    }

    &__open-list-button.is-active {
        transform: translateX(50%) rotate(90deg);
    }

    &__club-img {

        > img {
            width: 8.2rem;
            height: auto;
            vertical-align: top;
            transform: translateY(-.1rem);
        }
    }

}

.mobile-menu.is-active {
    transform: translateX(0);
}
