.rewiew-box {
    border-bottom: 1px solid $color-border;

    @include mq(md) {
        padding: 0 20rem;
    }
}

.review {

    &:not(:last-child) {
        margin-bottom: 2.6rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid $color-border;
    }

    @include mq(md) {
        padding-bottom: 4rem;

        &:not(:last-child) {
            margin-bottom: 3.6rem;
        }
    }

    &__link {
        color: inherit;
    }

    &__title-grid {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;

        @include mq(xs) {
            align-items: flex-end;
        }

    }

    &__title-block {
        flex: 1;
    }

    &__name,
    &__title {
        @include font(1.9rem,2rem);
        font-weight: 500;
        margin-bottom: .8rem;

        > i {
            @include font(2.4rem,2.4rem);
            display: inline-block;
            margin-right: .6rem;
            color: #ffa700;
            transform: translateY(.2rem);

            @include mq(xs) {
                display: none;
            }

        }
    }

    &__date,
    &__info {
        @include font(1.3rem,2rem);
        color: #bababa;
        text-transform: uppercase;

        > span {
            display: inline-block;
            margin: 0 1.5rem;
        }
    }

    &__content {
        @include text-base();
        color: rgba($color-base, .7);
    }



    &__like-block {
        @include size(5rem);
        position: relative;
        margin-left: 4rem;
        border-radius: 50%;
        background: #f2f2f2;
        transition: all $transition-duration-base;


        &:hover {

            > i {
                color: #666666;
                opacity: 1;
            }
        }

        > i {
            @include font(2.2rem,2.2rem);
            position: absolute;
            top: 50%;
            left: 50%;
            color: $color-base;
            opacity: .4;
            transition: all $transition-duration-base;
            transform: translate(-50%,-50%);
        }

        > span {
            @include font(1.7rem);
            position: absolute;
            top: 50%;
            left: -1rem;
            transform: translate(-100%,-50%);
            color: $color-base;
            opacity: .4;
            font-weight: 500;
        }
    }

    &__like-block.is-active {

        > i {
            color: #ee4623;
            opacity: 1;
        }
    }

    &__rating {
        margin-top: 1rem;
        margin-bottom: -2.2rem;
        transform: translateX(-.4rem);
        pointer-events: none;

        label {
            font-size: 1.2rem;

            &::before {
                margin-right: .2rem;
            }
        }
    }

}
