.tag-white-gray {
    @include size(3.6rem);
    position: absolute;
    display: block;
    bottom: 0;
    right: 0;
    transform: translate(.6rem,.6rem);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.15);
    outline: none;

    > i {
        @include font(1.8rem);
        position: absolute;
        display: block;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        color: #d0d0d1;
    }

    > i.mdi-book-open-variant {
        @include size(1.4rem);
        background: {
            image: url(../img/svg/book.svg);
            position: 50% 50%;
            size: contain;
            repeat: no-repeat;
        };

        &::before,
        &::after {
            display: none;
        }

    }

}

.tape-tag {
    @include size(7.7rem);
    position: absolute;
    top: -.3rem;
    left: -.3rem;
    background-position: 50% 50%;
    background-size: contain;
    font-size: 0;
    color: transparent;


    &[data-hit] {
        background-image: url(../img/hit.png);
    }

    &[data-new] {
        background-image: url(../img/new.png);
    }
    &[data-sale] {
        background-image: url(../img/sale.png);
    }


}
