@charset "UTF-8";

@if $enable-wysiwyg == true {
    .wysiwyg {

        > p {
            @include text-base();

            &:not(:last-child) {
                margin-bottom: 1.8rem;
            }

            @include mq(md) {
                &:not(:last-child) {
                    margin-bottom: 2.2rem;
                }
            }
        }


        img {
            display: block;
            width: auto;
            height: auto;
            margin: 0 auto;
        }

    }
}
