section.basket-delivery
    h2.basket-delivery__title 1. Куда доставить заказ

    .basket-delivery__description Доставка осуществляется Почтой России в течение 7-10 дней с момента отправки. Комиксы отправляются в конце каждого месяца вашей подписки.



        .basket-delivery__check-grid


        .basket-delivery__forms-grid.basket-delivery__forms-grid--full-col-1-3
            .basket-delivery__forms-col(data-col='1/3')
                .form__input-block.form__input-block--absolute-label
                    label(data-pflichtfeld) Индекс
                    input(type='text')


        .basket-delivery__forms-grid
            .form__input-block.form__input-block--absolute-label
                label(data-pflichtfeld) Улица
                input(type='text')

        .basket-delivery__forms-grid.basket-delivery__forms-grid--full-col-1-3

            .basket-delivery__forms-col(data-col='1/3')
                .form__input-block.form__input-block--absolute-label
                    label(data-pflichtfeld) Дом
                    input(type='text')

            .basket-delivery__forms-col(data-col='1/3')
                .form__input-block.form__input-block--absolute-label
                    label(data-pflichtfeld) Строение, корпус
                    input(type='text')


        .basket-delivery__forms-grid.basket-delivery__forms-grid--full-col-1-3

            .basket-delivery__forms-col(data-col='1/3')
                .form__input-block.form__input-block--absolute-label
                    label Подъезд
                    input(type='text')

            .basket-delivery__forms-col(data-col='1/3')
                .form__input-block.form__input-block--absolute-label
                    label(data-pflichtfeld) Квартира
                    input(type='text')


        .basket-delivery__forms-grid
            .form__input-block.form__input-block--absolute-label-top
                label Комментарий к заказу
                textarea



section.basket-delivery
    h2.basket-delivery__title 2. Кому доставить заказ

    .basket-delivery__forms

        .basket-delivery__forms-grid
            .form__input-block.form__input-block--absolute-label
                label(data-pflichtfeld) Фамилия
                input(type='text')


        .basket-delivery__forms-grid
            .form__input-block.form__input-block--absolute-label
                label(data-pflichtfeld) Имя
                input(type='text')


        .basket-delivery__forms-grid
            .form__input-block.form__input-block--absolute-label.is-error
                label(data-pflichtfeld) Отчество
                input(type='text')
                .error-message Даже у супергероев есть отчество



        .basket-delivery__forms-grid
            .form__input-block.form__input-block--absolute-label
                label(data-pflichtfeld) Эл. почта
                input(type='text')
                .error-message Даже у супергероев есть отчество


        .basket-delivery__forms-grid
            .form__input-block.form__input-block--absolute-label
                label(data-pflichtfeld) Телефон
                input(type='text' value='+7 (920) 660-30-98')


section.basket-delivery.basket-delivery--alt
    h2.basket-delivery__title 3. Выбор способа оплаты

    .basket-delivery__forms

        .basket-delivery__forms-grid.is-mobile
            .form__input-block
                select.js-select-menu
                    option Банковская карта
                    option Яндекс.Деньги
                    option QIWI Wallet
                    option Сбербанк-онлайн
                    option Наличными при получении

        .basket-delivery__check-grid.basket-delivery__check-grid--center

            .basket-delivery__check-label-pay-box
                label
                    span.basket-delivery__checkbox-pay
                        input(type='radio' name='pay1'  checked)
                        span
                        span
                            span
                                i.mdi.mdi-credit-card.basket-delivery__check-img.basket-delivery__check-img--icon-pay-card

                            span Банковская карта

            .basket-delivery__check-label-pay-box
                label
                    span.basket-delivery__checkbox-pay
                        input(type='radio' name='pay1')
                        span
                        span
                            i.basket-delivery__check-img.basket-delivery__check-img--icon-pay-logo.basket-delivery__check-img--ya

                            span Яндекс.Деньги


            .basket-delivery__check-label-pay-box
                label
                    span.basket-delivery__checkbox-pay
                        input(type='radio' name='pay1')
                        span
                        span
                            span
                                i.basket-delivery__check-img.basket-delivery__check-img--icon-pay-logo.basket-delivery__check-img--qw

                            span QIWI Wallet


            .basket-delivery__check-label-pay-box
                label
                    span.basket-delivery__checkbox-pay
                        input(type='radio' name='pay1')
                        span
                        span
                            span
                                i.basket-delivery__check-img.basket-delivery__check-img--icon-pay-logo.basket-delivery__check-img--sb

                            span Сбербанк-онлайн

        .basket-delivery__total

            .basket-delivery__total-line.basket-delivery__total-line--min
                span Итого к оплате 1600 &nbsp;<span>&#8381;</span>

            .basket-delivery__total-button
                a.button-in-basket.button-in-basket--for-card
                    span перейти к оплате

        .basket-delivery__privacy <span> Нажимая на кнопку «Перейти к оплате», вы подтверждаете свое согласие с</span> <a href='#' target='_blank'>Правилами сервиса</a> <span>и</span><br> <a href='#' target='_blank'>Политикой конфиденциальности</a>


        .basket-delivery__information-label


            .basket-delivery__information-label-item
                i.mdi.mdi-checkbox-marked-circle-outline
                span Официальный магазин BUBBLE


            .basket-delivery__information-label-item
                img(src='img/lock.png')
                span Надёжная защита данных при оплате онлайн


            .basket-delivery__information-label-item
                img(src='img/mailer.png')
                span Быстрая доставка по России
