.basket-production



    .basket-production__line-grid
        .basket-production__line-label
            .basket-production__line-label-image
                img(src='http://via.placeholder.com/90x90/b93f81/ffffff' alt='title magazine')

            .basket-production__line-label-description
                .basket-production__line-label-title Подписка на 6 месяцев
                .basket-production__line-label-vendor-code Июнь-декабрь 2017
                .basket-production__line-label-vendor-versio 36 синглов + случайный арт из нашей коллекции

        .basket-production__line-meanings

            .basket-production__price 300 <span>&#8381;</span>
