.basket-production



    .basket-production__line-grid
        .basket-production__line-label
            .basket-production__line-label-image
                img(src='http://via.placeholder.com/90x90/b93f81/ffffff' alt='title magazine')

            .basket-production__line-label-description
                .basket-production__line-label-title Чумной доктор #1
                .basket-production__line-label-vendor-code Артикул: 34567890-09
                .basket-production__line-label-vendor-versio Печатная версия

        .basket-production__line-meanings
            .basket-production__line-spinner
                input.js-basket-spinner(type='text' value='2')

            .basket-production__price 300 <span>&#8381;</span>
            a.basket-production__delete(href='#')
                i.mdi.mdi-delete



    .basket-production__line-grid
        .basket-production__line-label
            .basket-production__line-label-image
                img(src='http://via.placeholder.com/90x90/b93f81/ffffff' alt='title magazine')

            .basket-production__line-label-description
                .basket-production__line-label-title Чумной доктор #1
                .basket-production__line-label-vendor-code Артикул: 34567890-09
                .basket-production__line-label-vendor-versio Печатная версия

        .basket-production__line-meanings
            .basket-production__line-spinner
                input.js-basket-spinner(type='text' value='1')

            .basket-production__price <span class='basket-production__old-price'>344 <span>&#8381;</span></span> 300 <span>&#8381;</span>
            a.basket-production__delete(href='#')
                i.mdi.mdi-delete



    .basket-production__line-grid
        .basket-production__line-label
            .basket-production__line-label-image
                img(src='http://via.placeholder.com/90x90/b93f81/ffffff' alt='title magazine')

            .basket-production__line-label-description
                .basket-production__line-label-title Чумной доктор #1
                .basket-production__line-label-vendor-code Артикул: 34567890-09
                .basket-production__line-label-vendor-versio Печатная версия

        .basket-production__line-meanings
            .basket-production__line-spinner
                span.basket-production__not-available Нет в наличии

            .basket-production__price <span class='basket-production__old-price'>344 <span>&#8381;</span></span> 300 <span>&#8381;</span>
            a.basket-production__delete(href='#')
                i.mdi.mdi-delete


    .basket-production__line-grid
        .basket-production__line-label
            .basket-production__line-label-image
                img(src='http://via.placeholder.com/90x90/b93f81/ffffff' alt='title magazine')

            .basket-production__line-label-description
                .basket-production__line-label-title Зигги, космческий хомяк #1
                .basket-production__line-label-vendor-code Артикул: 34567890-09
                .basket-production__line-label-vendor-versio Печатная версия

        .basket-production__line-meanings
            .basket-production__line-spinner
                input.js-basket-spinner(type='text' value='1')

            .basket-production__price(data-old='344 Р') 300 <span>&#8381;</span>
            a.basket-production__delete(href='#')
                i.mdi.mdi-delete
