.product-card
    .product-card__grid
        .product-card__slider-box
            .product-card__slider-nav.js-card-slider-nav

                .product-card__slider-item
                    img(src='http://via.placeholder.com/90x90/000000/ffffff' alt='title magazine')


                .product-card__slider-item
                    img(src='http://via.placeholder.com/90x90/2d83e4/ffffff' alt='title magazine')


                .product-card__slider-item
                    img(src='http://via.placeholder.com/90x90/000000/ffffff' alt='title magazine')


                .product-card__slider-item
                    img(src='http://via.placeholder.com/90x90/2d83e4/ffffff' alt='title magazine')



            .product-card__slider
                .js-card-slider

                    a.product-card__slider-item(href='img/photo.jpg')
                        img(src='http://via.placeholder.com/380x580/000000/ffffff' alt='title magazine')

                    a.product-card__slider-item(href='img/photo2.jpg')
                        img(src='http://via.placeholder.com/380x580/2d83e4/ffffff' alt='title magazine')

                    a.product-card__slider-item(href='img/photo.jpg')
                        img(src='http://via.placeholder.com/380x580/000000/ffffff' alt='title magazine')

                    a.product-card__slider-item(href='img/photo2.jpg')
                        img(src='http://via.placeholder.com/380x580/2d83e4/ffffff' alt='title magazine')

                .product-card__limitation-info(data-quantity='16+')



        .product-card__information-box
            .product-card__vendor-grid

                .product-card__vendor-item
                    i.mdi.mdi-checkbox-marked-circle
                    span Товар в наличии

                .product-card__vendor-item.product-card__vendor-item--vendor-code Артикул: 34567890-09

            h1.product-card__title Майор Гром: Чумной доктор #2 Пилотный выпуск

            .product-card__version-information Печатная версия

            .product-card__price 50 &nbsp;<span>&#8381;</span>

            .product-card__button-block
                a.button-in-basket.button-in-basket--for-card
                    i.mdi.mdi-cart
                    span в корзину
                a.button-bubble.button-bubble--for-card купить в 1 клик

            .product-card__sub-block
                h6.product-card__information-sub-title Доставка в г. Москва

                ul
                    li Курьером (стандартная) — 1-2 дня, 250 &nbsp;<span>&#8381;</span>
                    li Самовывоз (16 пунктов выдачи) — бесплатно

                p Бесплатная доставка от 3000 рублей.


            .product-card__sub-block
                h6.product-card__information-sub-title Расскажите друзьям
                .product-card__social-share
                    .social-share

                        a.social-share__twitter(href='#')
                            i.mdi.mdi-twitter
                            .social-share__title Твитнуть
                            .social-share__counter(data-counter='0')

                        a.social-share__facebook(href='#')
                            i.mdi.mdi-facebook
                            .social-share__title Поделиться
                            .social-share__counter(data-counter='4')

                        a.social-share__vk(href='#')
                            i.mdi.mdi-vk
                            .social-share__title Поделиться
                            .social-share__counter(data-counter='2')

                        a.social-share__google(href='#')
                            i.mdi.mdi-google-plus
                            .social-share__counter(data-counter='0')

                        a.social-share__ok(href='#')
                            i.mdi.mdi-odnoklassniki
                            .social-share__counter(data-counter='0')

                        a.social-share__alt(href='#')
                            i

    .product-card__description.wysiwyg
        h2 Описание

        p Игорь Гром – опытный следователь из Санкт-Петербурга, известный своим пробивным характером и непримиримой позицией по отношению к преступникам всех мастей. Неимоверная сила, аналитический склад ума и неподкупность – всё это делает майора Грома идеальным полицейским. Работая не покладая рук, он всегда доводит начатое до конца и никогда не пасует перед трудностями, стоящими на пути. Одним из главных достижений блестящего петербуржского следователя Игоря Грома становится поимка безумного террориста Сергея Разумовского, действующего под маской Чумного Доктора.

        h5 Список синглов, вошедших в сборник

        .product-card__list-grid


            .product-card__list-grid-item
                ul

                    li
                        a(href='#') Майор Гром: Чумной доктор №1

                    li
                        a(href='#') Майор Гром: Чумной доктор №2

                    li
                        a(href='#') Майор Гром: День святого Патрика

                    li
                        a(href='#') Майор Гром: Как в сказке


            .product-card__list-grid-item
                ul

                    li
                        a(href='#') Майор Гром: Чумной доктор №1

                    li
                        a(href='#') Майор Гром: Чумной доктор №2

                    li
                        a(href='#') Майор Гром: День святого Патрика

        iframe(width='720', height='405', src='//rutube.ru/play/embed/9852581', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')

        h3 Характеристики

        .product-card__list-grid
            .product-card__list-grid-item
                dl
                    dt Дата выхода:
                    dd 15 сентября 2016 года

                dl
                    dt Обложка:
                    dd твердая

            .product-card__list-grid-item
                dl
                    dt Формат:
                    dd 160х245

                dl
                    dt Количество страниц:
                    dd 40

    .section-box
        h2.section-box__title
            span Рецензии

        .rewiew-box

            .review
                .review__title-grid
                    .review__title-block
                        .review__title
                            a.review__link(href='#') Это Вам не шуточки
                        .review__info
                            a.review__link(href='#') мироходцы <span>|</span> Павел Слесарев, <span>26 мая</span>
                        .review__rating
                            include ../_rating
                    a.review__like-block.is-active(href='#')
                        i.mdi.mdi-heart
                        span 6

                a.review__content.wysiwyg(href='#')
                    p Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре. Далее он идет в харчевню где сидит Волк, и рассказывает что удалось узнать. После ответа Серого, Андрей приходит к выводу что чудовище — это Минотавр. Затем к героям присоединяется Ксюша с маленькой собачкой и говорит что Клубок (да, так зовут собаку) отведет их прямо в логово монстра. Затем начинается спор по поводу его роли в команде...

            .review
                .review__title-grid
                    .review__title-block
                        .review__title
                            a.review__link(href='#') Это Вам не шуточки
                        .review__info
                            a.review__link(href='#') мироходцы <span>|</span> Павел Слесарев, <span>26 мая</span>
                        .review__rating
                            include ../_rating
                    a.review__like-block(href='#')
                        i.mdi.mdi-heart
                        span 6

                a.review__content.wysiwyg(href='#')
                    p Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре. Далее он идет в харчевню где сидит Волк, и рассказывает что удалось узнать. После ответа Серого, Андрей приходит к выводу что чудовище — это Минотавр. Затем к героям присоединяется Ксюша с маленькой собачкой и говорит что Клубок (да, так зовут собаку) отведет их прямо в логово монстра. Затем начинается спор по поводу его роли в команде...

            .review
                .review__title-grid
                    .review__title-block
                        .review__title
                            a.review__link(href='#') Это Вам не шуточки
                        .review__info
                            a.review__link(href='#') мироходцы <span>|</span> Павел Слесарев, <span>26 мая</span>
                        .review__rating
                            include ../_rating
                    a.review__like-block(href='#')
                        i.mdi.mdi-heart
                        span 6

                a.review__content.wysiwyg(href='#')
                    p Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре. Далее он идет в харчевню где сидит Волк, и рассказывает что удалось узнать. После ответа Серого, Андрей приходит к выводу что чудовище — это Минотавр. Затем к героям присоединяется Ксюша с маленькой собачкой и говорит что Клубок (да, так зовут собаку) отведет их прямо в логово монстра. Затем начинается спор по поводу его роли в команде...

            .review
                .review__title-grid
                    .review__title-block
                        .review__title
                            a.review__link(href='#') Это Вам не шуточки
                        .review__info
                            a.review__link(href='#') мироходцы <span>|</span> Павел Слесарев, <span>26 мая</span>
                        .review__rating
                            include ../_rating
                    a.review__like-block(href='#')
                        i.mdi.mdi-heart
                        span 6

                a.review__content.wysiwyg(href='#')
                    p Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре. Далее он идет в харчевню где сидит Волк, и рассказывает что удалось узнать. После ответа Серого, Андрей приходит к выводу что чудовище — это Минотавр. Затем к героям присоединяется Ксюша с маленькой собачкой и говорит что Клубок (да, так зовут собаку) отведет их прямо в логово монстра. Затем начинается спор по поводу его роли в команде...


    .section-box
        h2.section-box__black-title отзывы livelib


        .review-livelibe

            .review-livelibe__box

                .review-livelibe__item
                    .review-livelibe__title-block
                        .review-livelibe__name
                            img(src='http://via.placeholder.com/30x30/2d83e4/ffffff' alt='ava')
                            span Ksusha Shusha
                            .review-livelibe__date 29 января 2017 г., 15:27

                        .review-livelibe__rating-block
                            include ../_rating


                    .review-livelibe__content Эта та книга, которую хочется растянуть как можно дольше! Поначалу так и было) Я вроде бы читаю ее в каждую свободную минуту, а она стоит на месте и не продвигается! В хорошем смысле. А начиная с середины книги страницы летят друг за другом.



                .review-livelibe__item

                    .review-livelibe__title-block
                        .review-livelibe__name
                            img(src='http://via.placeholder.com/30x30/2d83e4/ffffff' alt='ava')
                            span h_traveler
                            .review-livelibe__date 29 января 2017 г., 15:27

                        .review-livelibe__rating-block
                            include ../_rating

                    .review-livelibe__content На удивление хорошо. Больше всего удивляет, что я не люблю ни детективы, ни полицейскую тему, но комикс вышел весьма годным развлечением, хотя после отряда самоубийц любой адекватный линейный сюжет меня радует. И все же перечислю минусы: абсолютно все представители женского пола нарисованы как порно актрисы, я не преувеличивают - губки уточкой, огромная грудь, сексуальная фигура, обтягивающая одежда, ну и подбор женщин каков: проститутка, журналистка, ведущие новостей (самые горячие цыпы) крупье, официантка - ну порно же!)))

            .review-livelibe__open-all
                a(href='#') Все отзывы
