.section-box.about-shop
    .container

        h2.about-shop__title Официальный магазин BUBBLE

        .about-shop__grid

            .about-shop__item
                .about-shop__icon-block
                    img(src='img/svg/icon-1.svg' alt='')
                .about-shop__description Читайте только лучшие<br>комиксы. Рейтинг<br>на LiveLib
                .about-shop__rating
                    include _rating


            .about-shop__item
                .about-shop__icon-block
                    img(src='img/svg/delivery-icon-01-1.svg' alt='')
                .about-shop__description Бесплатно доставляем<br>заказы от 3000 рублей<br>по Москве


            .about-shop__item
                .about-shop__icon-block
                    img(src='img/svg/icon-3.svg' alt='')
                .about-shop__description Удобная оплата.<br>Наличными при получении,<br>картами на сайте


            .about-shop__item
                .about-shop__icon-block
                    img(src='img/svg/icon-4.svg' alt='')
                .about-shop__description Накопительная скидка от 3%<br>до 15% для постоянных<br>покупателей
