.filter-slider
    .filter-slider__body.js-filter-slider

        a.filter-slider__item(href='#')
            span ВСЕ

        a.filter-slider__item(href='#' data-mantis)
            span время<br>ворона

        a.filter-slider__item(href='#')
            span бесобой

        a.filter-slider__item(href='#')
            span МАЙОР<br>ГРОМ

        a.filter-slider__item(href='#')
            span красная<br>фурия

        a.filter-slider__item(href='#')
            span экслибриум

        a.filter-slider__item(href='#')
            span мироходцы

        a.filter-slider__item(href='#')
            span Союзники

    a.filter-slider__slick-next.js-filter-slider-next(href='#')
        i.mdi.mdi-chevron-right
