.filter-slider
    .filter-slider__body.js-filter-slider

        a.filter-slider__item.is-active(href='#')
            span ВСЕ

        a.filter-slider__item(href='#' data-mantis)
            span время<br>ворона

        a.filter-slider__item(href='#' data-danube)
            span бесобой

        a.filter-slider__item(href='#' data-flamingo)
            span МАЙОР<br>ГРОМ

        a.filter-slider__item(href='#' data-carnation)
            span красная<br>фурия

        a.filter-slider__item(href='#' data-neon-carrot)
            span экслибриум

        a.filter-slider__item(href='#' data-mantis)
            span мироходцы

        a.filter-slider__item(href='#' data-fuchsia-blue)
            span Союзники

    a.filter-slider__slick-next.js-filter-slider-next(href='#')
        i.mdi.mdi-chevron-right
