.section-box
    .container
        .contest
            .contest
                .contest__box
                    .contest__grid
                        .contest__content
                            .contest__event-info
                                span Конкурс
                            .contest__title Лучший отзыв месяца
                            .contest__description
                                p Читаешь BUBBLE? Есть что сказать? Напиши свое мнение о наших комиксах. Автор самой интересной рецензии получит приз. Гарантируем!
                            .contest__button-block
                                .message-button-box Участвовать
                                    a.button-message(href='#')
                                        span Участвовать

                        .contest__card-info-box
                            .contest__frame
                            .contest__card-info-body
                                .contest__card-info-title
                                    i.mdi.mdi-seal
                                    span Гениальный перезапуск
                                a.contest__time-and-name(href='#') иван философ, 26 мая

                                .contest__rating
                                    include _rating

                                .contest__card-info-description
                                    p Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре. Далее он идет в харчевню где сидит Волк, и рассказывает что удалось узнать.
                                    p После ответа Серого, Андрей приходит к выводу что чудовище — это Минотавр. Затем к героям присоединяется Ксюша с маленькой собачкой и говорит что Клубок (да, так зовут собаку) отведет их прямо в логово монстра. Затем начинается спор по поводу его роли в команде...

                                .contest__elips
                                    span МАЙОР ГРОМ
