.teaser
    .container
        a.teaser__link-box(href='#')
            img(src='img/teaser.jpg' class='is-desktop' alt='bubble')
            img(src='img/teaser-m.jpg' class='is-mobile' alt='bubble')

