.section-box.insta-section
    .container
        .insta-section__grid
            .insta-section__title Bubble Instagram
            .insta-section__description
                p Авторские зарисовки, скетчи новых персонажей всё закулисье<br>комиксов Bubble в нашем инстаграме
                a.button-bubble(href='#') @bubble_comics

        .insta-slider
            .insta-slider__box
                .insta-slider__body.js-in-slider

                    a.insta-slider__item(href='#')
                        img(src='http://via.placeholder.com/350x350/000000/ffffff' alt='LaL')


                    a.insta-slider__item(href='#')
                        img(src='http://via.placeholder.com/350x350/ff6521/000000' alt='LaL')


                    a.insta-slider__item(href='#')
                        img(src='http://via.placeholder.com/350x350/000000/ffffff' alt='LaL')


                    a.insta-slider__item(href='#')
                        img(src='http://via.placeholder.com/350x350/46349f/ffffff' alt='LaL')


                    a.insta-slider__item(href='#')
                        img(src='http://via.placeholder.com/350x350/000000/ffffff' alt='LaL')


                    a.insta-slider__item(href='#')
                        img(src='http://via.placeholder.com/350x350/ff6521/000000' alt='LaL')


                    a.insta-slider__item(href='#')
                        img(src='http://via.placeholder.com/350x350/000000/ffffff' alt='LaL')


                    a.insta-slider__item(href='#')
                        img(src='http://via.placeholder.com/350x350/46349f/ffffff' alt='LaL')

