.link-section
    .container
        .link-section__grid
            .link-section__title Bubble Instagram
            .link-section__description
                p Авторские зарисовки, скетчи новых персонажей всё закулисье<br>комиксов Bubble в нашем инстаграме
                a.button-bubble(href='#') @bubble_comics



