.section-box
    .container
        .main-blog

            h2.section-box__title
                a(href='#') Блог Bubble

            .main-blog__grid

                a.main-blog__item(href='#')
                    .main-blog__image
                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')
                    .main-blog__time 1 сентября
                    .main-blog__title Прямой эфир с Антоном Габреляновым
                    .main-blog__statistics
                        i.mdi.mdi-eye(data-quantity='314')
                        i.mdi.mdi-comment(data-quantity='28')

                a.main-blog__item(href='#')
                    .main-blog__image
                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')
                    .main-blog__time 1 сентября
                    .main-blog__title Премьера экранизации «Майора Грома»
                    .main-blog__statistics
                        i.mdi.mdi-eye(data-quantity='314')
                        i.mdi.mdi-comment(data-quantity='28')

                a.main-blog__item(href='#')
                    .main-blog__image
                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')
                    .main-blog__time 1 сентября
                    .main-blog__title Bubble посетил Хомякон 17
                    .main-blog__statistics
                        i.mdi.mdi-eye(data-quantity='314')
                        i.mdi.mdi-comment(data-quantity='28')

                a.main-blog__item(href='#')
                    .main-blog__image
                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')
                    .main-blog__time 1 сентября
                    .main-blog__title По комиксу «Метеора» снимут фильм
                    .main-blog__statistics
                        i.mdi.mdi-eye(data-quantity='314')
                        i.mdi.mdi-comment(data-quantity='28')
