.section-box
    .container
        .main-subscription
            .main-subscription__grid
                .main-subscription__item.main-subscription__item--news
                    .main-subscription__news
                        .main-subscription__title Рассылка о лучших новинках BUBBLE
                        .main-subscription__description
                            p Будьте в курсе наших лучших предложений. В письме #1 дарим первые 6 выпусков наших комиксов! Без шуток!
                        form.main-subscription__form
                            .main-subscription__input-block
                                input(type='email' placeholder='Эл. почта')
                                button подписаться

                        span.main-subscription__without-spam Без спама


                .main-subscription__item.main-subscription__item--social
                    .main-subscription__vk-box
                        img.is-desktop(src='img/vk.jpg' alt='тут будет виджет')
                        img.is-mobile(src='img/vk-m.jpg' alt='тут будет виджет')

                    .main-subscription__in-touch
                        .main-subscription__title Будем на связи!
                        .main-subscription__description
                            p Свежайшие новости, эксклюзивы, скидки и конкурсы – только в наших сообществах. Подписывайтесь сейчас!

                    .main-subscription__social-links
                        .main-subscription__social-grid
                            a.icon-button-big.icon-button-big--facebook(href='#' target='_blanc')
                                i.mdi.mdi-facebook
                            a.icon-button-big.icon-button-big--twitter(href='#' target='_blanc')
                                i.mdi.mdi-twitter
                            a.icon-button-big.icon-button-big--ok(href='#' target='_blanc')
                                i.mdi.mdi-odnoklassniki

                        .main-subscription__social-grid
                            a.icon-button-big.icon-button-big--insta(href='#' target='_blanc')
                                i.mdi.mdi-instagram
                            a.icon-button-big.icon-button-big--youtube(href='#' target='_blanc')
                                i.mdi.mdi-youtube-play
                            a.icon-button-big.icon-button-big--telegram(href='#' target='_blanc')
                                i.mdi.mdi-telegram
