.mobile-menu.js-mobile-menu
    .mobile-menu__body
        form.mobile-menu__search-form.form
            .form__input-block
                input(type='search' placeholder='Поиск по сайту')
                button.mobile-menu__search-button
                    i

        nav.mobile-menu__navigate

            ul

                li
                    a(href='#') Комиксы

                    a.mobile-menu__open-list-button.js-open-sub-menu(href='#')
                        i.mdi.mdi-chevron-right

                    ul

                        li
                            a(href='#') Майор Гром

                        li
                            a(href='#') Игорь Гром

                        li
                            a(href='#') Бесобой

                        li
                            a(href='#') Инок

                        li
                            a(href='#') Мироходцы

                        li
                            a(href='#') Красная Фурия

                        li
                            a(href='#') Союзники

                        li
                            a(href='#') Экслибриум

                        li
                            a(href='#') Метеора

                        li
                            a(href='#') Bubble vision


                li
                    a(href='#') Подписка

                    a.mobile-menu__open-list-button.js-open-sub-menu(href='#')
                        i.mdi.mdi-chevron-right

                    ul

                        li
                            a(href='#') Майор Гром

                        li
                            a(href='#') Игорь Гром

                        li
                            a(href='#') Бесобой

                        li
                            a(href='#') Инок

                        li
                            a(href='#') Мироходцы

                        li
                            a(href='#') Красная Фурия

                        li
                            a(href='#') Союзники

                        li
                            a(href='#') Экслибриум

                        li
                            a(href='#') Метеора

                        li
                            a(href='#') Bubble vision


                li
                    a(href='#') Предзаказ

                li
                    a(href='#') Одежда

                li
                    a(href='#') Товары

                    a.mobile-menu__open-list-button.js-open-sub-menu(href='#')
                        i.mdi.mdi-chevron-right

                    ul

                        li
                            a(href='#') Майор Гром

                        li
                            a(href='#') Игорь Гром

                        li
                            a(href='#') Бесобой

                        li
                            a(href='#') Инок

                        li
                            a(href='#') Мироходцы

                        li
                            a(href='#') Красная Фурия

                        li
                            a(href='#') Союзники

                        li
                            a(href='#') Экслибриум

                        li
                            a(href='#') Метеора

                        li
                            a(href='#') Bubble vision


                li
                    a(href='#') Вселенная

                li
                    a(href='#') Блог

                li
                    a(href='#') Кино

                li
                    a.mobile-menu__club-img(href='#')
                        img(src='img/bubble-club.svg' alt='bubble-club')


        .mobile-menu__footer

            ul

                li
                    a.js-open-popup-form(href='#login-in') Вход

                li
                    a.js-open-popup-form(href='#registration') Регистрация

                li
                    a(href='#') Скидки

                li
                    a(href='#') Доставка и оплата

                li
                    a(href='#') О нас

            ul.mobile-menu__footer-list-grid

                li <a href='#'> 8 495 663 3811</a>

                li <a class='js-open-popup-form' href='#callback'>Обратная связь</a>
