.section-box.new-issue
    .container
        .new-issue__box
            .new-issue__grid
                .new-issue__image
                    img(src='img/new-issue.jpg' alt)

                .new-issue__content
                    .new-issue__event-info
                        span Новый выпуск
                    .new-issue__title Самая опасная вещь в космосе
                    .new-issue__description
                        p Легендарная космическая контрабандистка Алёна Кузнецова по прозвищу Метеора всегда готова ввязаться в любые приключения и опасные авантюры.
                    .new-issue__button-block
                        a.button-message(href='#') Узнать больше

