.section-box
    .container
        .promo-section
            .promo-section__grid
                .promo-section__item
                    img(src='img/stuf-girl.jpg' alt='bubble сувениры')
                    .promo-section__item-body
                        a.button-message(href='#') Сувениры


                .promo-section__item
                    img(src='img/stuf-man.jpg' alt='bubble одежда')
                    .promo-section__item-body
                        a.button-message(href='#') Одежда
