form.product-filter

    .product-filter__grid

        a.product-filter__item.is-active(href='#' data-quantity='1')
            span Категория
            i.mdi.mdi-chevron-down

            .product-filter__select-popup-box
                .product-filter__select-popup
                    ul

                        li
                            label.product-filter__label-checkbox
                                em.product-filter__checkbox
                                    input(type='checkbox')
                                    i
                                span Персонажи

                        li
                            label.product-filter__label-checkbox
                                em.product-filter__checkbox
                                    input(type='checkbox')
                                    i
                                span Кино

                        li
                            label.product-filter__label-checkbox
                                em.product-filter__checkbox
                                    input(type='checkbox')
                                    i
                                span Мультики

                        li
                            label.product-filter__label-checkbox
                                em.product-filter__checkbox
                                    input(type='checkbox')
                                    i
                                span Игрушки






        a.product-filter__item(href='#')
            span Пол
            i.mdi.mdi-chevron-down

        a.product-filter__item(href='#')
            span Размер
            i.mdi.mdi-chevron-down

        a.product-filter__item(href='#')
            span Цена
            i.mdi.mdi-chevron-down

        a.product-filter__item(href='#')
            span Категория
            i.mdi.mdi-chevron-down

        a.product-filter__item(href='#')
            span Категория
            i.mdi.mdi-chevron-down

        a.product-filter__item.product-filter__item--clear(href='#')
            span Очистить фильтр

        a.product-filter__item(href='#')
            span Сортировка
            i.mdi.mdi-chevron-down



