.sectin-box
    .container
        h2.section-box__black-title Новинки

        .magazine-catalog

            .magazine-catalog__grid

                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/46349f/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-at

                    .magazine-catalog__item-information

                        .magazine-catalog__title(data-fade) Чумной доктор #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') подробнее
                            .magazine-catalog__date 28 июня



                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/46349f/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        .magazine-catalog__title Имя ему Бесобой
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') предзаказ
                            .magazine-catalog__date 28 июня



                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/46349f/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        .magazine-catalog__title Самая опасная ве
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') предзаказ
                            .magazine-catalog__date 2 июля



                                
                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/46349f/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        .magazine-catalog__title(data-fade) Чумной доктор #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') подробнее
                            .magazine-catalog__date 28 июня



                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/46349f/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-at

                    .magazine-catalog__item-information

                        .magazine-catalog__title Имя ему Бесобой
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') предзаказ
                            .magazine-catalog__date 28 июня



                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/46349f/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        .magazine-catalog__title Самая опасная ве
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') предзаказ
                            .magazine-catalog__date 2 июля
