nav.site-navigate
    .container
        ul.site-navigate__menu

            li.site-navigate__menu-item
                a.site-navigate__link-section(href='#') Комиксы
                include nav_popups/_nav_magazine


            li.site-navigate__menu-item
                a.site-navigate__link-section(href='#') Подписка
                include nav_popups/_nav_magazine


            li.site-navigate__menu-item
                a.site-navigate__link-section(href='#') Предзаказ
                include nav_popups/_nav_magazine


            li.site-navigate__menu-item
                a.site-navigate__link-section(href='#') Одежда
                include nav_popups/_nav_stuf


            li.site-navigate__menu-item
                a.site-navigate__link-section(href='#') Товары
                include nav_popups/_nav_stuf


            li.site-navigate__menu-item.site-navigate__menu-item--min-sub
                a.site-navigate__link-section(href='#') Вселенная
                .site-navigate__sub-menu-box.site-navigate__sub-menu-box--min
                    .site-navigate__sub-menu-body-min
                        ul

                            li
                                a(href='#') Персонажи

                            li
                                a(href='#') Арты

                            li
                                a(href='#') Обои


            li.site-navigate__menu-item
                a(href='#') Блог


            li.site-navigate__menu-item
                a(href='#') Кино


            li.site-navigate__menu-item
                a(href='#')
                    img(src='img/club.jpg' alt='')
