footer.site-footer
    .container
        .site-footer__grid
            .site-footer__logo-block
                a.site-footer__logo-link(href='#')
                    img(src='img/logo.jpg' alt='babble')


            .site-footer__menu-box

                ul.site-footer__menu.is-desktop

                    li
                        a(href='#') Комиксы

                    li
                        a(href='#') Подписка

                    li
                        a(href='#') Предзаказ

                    li
                        a(href='#') Одежда

                    li
                        a(href='#') Товары

                    li
                        a(href='#') Вселенная

                    li
                        a(href='#') Блог

                    li
                        a(href='#') BubbleClub


                ul.site-footer__menu.is-desktop

                    li
                        a(href='#') Скидки

                    li
                        a(href='#') Доставка и оплата

                    li
                        a(href='#') FAQ

                    li
                        a(href='#') Где купить

                    li
                        a(href='#') О нас

                    li
                        a(href='#') Команда

                    li
                        a(href='#') Отзывы

                    li
                        a(href='#') Вакансии


                ul.site-footer__menu.is-desktop

                    li
                        a(href='#') Bubble Vision

                    li
                        a(href='#') Оптовые продажи

                    li
                        a(href='#') Рекламодателям

                    li
                        a(href='#') Накопительная скидка

                    li
                        a(href='#') Правила сервиса





                ul.site-footer__menu.is-mobile
                    li
                        a(href='#') Комиксы

                    li
                        a(href='#') Подписка

                    li
                        a(href='#') Предзаказ

                    li
                        a(href='#') Одежда

                    li
                        a(href='#') Товары

                    li
                        a(href='#') Вселенная

                    li
                        a(href='#') Блог

                    li
                        a(href='#') BubbleClub

                    li
                        a(href='#') Скидки

                    li
                        a(href='#') Доставка и оплата



                ul.site-footer__menu.is-mobile
                    li
                        a(href='#') FAQ

                    li
                        a(href='#') Где купить

                    li
                        a(href='#') О нас

                    li
                        a(href='#') Команда

                    li
                        a(href='#') Отзывы

                    li
                        a(href='#') Вакансии

                    li
                        a(href='#') Bubble Vision

                    li
                        a(href='#') Оптовые продажи

                    li
                        a(href='#') Рекламодателям

                    li
                        a(href='#') Накопительная скидка

                    li
                        a(href='#') Правила сервиса

            .site-footer__contacts

                .site-footer__contacts-grid-link

                    a.site-footer__contacts-link(href='#' target='_blank')
                        img(src='img/appstore.png')

                    a.site-footer__contacts-link(href='#' target='_blank')
                        img(src='img/gstore.png')

                .site-footer__contacts-content
                    p Москва г, Бумажный проезд,<br>дом 14, строение 2<br><a href='tel:8-8 495 663-311' target='_blank'>88495663311</a>, <a href='mailto:mail@bubble.ru' target='_blank'>mail@bubble.ru</a>
                    p Копирование материалов<br>без разрешения запрещено<br>© ООО "БАБЛ", 2017.Разработка — <a href='#' target='_blank'>Coalla Agency<a>
