.topbar
    .container

        .topbar__grid


            .topbar__item.topbar__item--delimiter

                a.topbar__tel(href='tel:84956633811') 8 495 663 3811

                span |

                a(href='#') Обратный звонок


            .topbar__item

                a(href='#') Скидки

                a(href='#') Доставка и оплата

                a(href='#') О нас


            .topbar__item.topbar__item--delimiter

                a(href='#') Вход

                span |

                a(href='#') Регистрация

