.magazine-catalog
    .magazine-catalog__category-box

        h2.section-box__title
            a(href='#') КНИГИ

        .magazine-catalog__grid



            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='lol')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='lala')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='lol')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='lala')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='oipo' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину




    .magazine-catalog__category-box

        h2.section-box__title
            span Синглы

        .magazine-catalog__grid

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                    .magazine-catalog__tag-box
                        a.tape-tag(href='#' data-hit) хит

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Что есть имя</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-at

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #1</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину


            article.magazine-catalog__item
                .magazine-catalog__item-image
                    a.magazine-catalog__link(href='#')
                        img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                    a.tag-white-gray(href='#')
                        i.mdi.mdi-book-open-variant

                .magazine-catalog__item-information

                    h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Каменный взгляд #4</a>
                    .magazine-catalog__price 1950<span>&#8381;</span>
                    .magazine-catalog__button-block
                        a.button-in-basket(href='#') в корзину

