.clothes-catalog
    h2.section-box__title
        span Футболки
        
    .clothes-catalog__grid
        
        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) хит
        
            .clothes-catalog__item-information
        
                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1750Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину


        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Футболка с вышивкой
                .clothes-catalog__price 900
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину


        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Стикерпак Майор Гром #1
                .clothes-catalog__price 490
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину


        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину


        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Стикерпак Майор Гром #1
                .clothes-catalog__price 490
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину


        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1750Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину


        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Футболка с вышивкой
                .clothes-catalog__price 900
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину






.clothes-catalog
    h2.section-box__title
        span ТОлстовки

    .clothes-catalog__grid

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/62e0af/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/62e0af/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/62e0af/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Футболка с вышивкой
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/62e0af/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Стикерпак Майор Гром #1
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/62e0af/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/62e0af/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/62e0af/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Футболка с вышивкой
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/62e0af/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Стикерпак Майор Гром #1
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину






.clothes-catalog
    h2.section-box__title
        span косплей костюмы

    .clothes-catalog__grid

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/ba615f/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/ba615f/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/ba615f/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Футболка с вышивкой
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/ba615f/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Стикерпак Майор Гром #1
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/ba615f/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/ba615f/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/ba615f/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Футболка с вышивкой
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/ba615f/ffffff' alt='title magazine')

            .clothes-catalog__item-information

                h3.clothes-catalog__title Стикерпак Майор Гром #1
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину
