.clothes-catalog

    .clothes-catalog__grid

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-bubble(href='#') Узнать о поступлении

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) Хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-sale) скидка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price <span class='clothes-catalog__old-price'>2500Р</span> 1950Р 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) Хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-sale) скидка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price <span class='clothes-catalog__old-price'>2500Р</span> 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) Хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-sale) скидка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) Хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-sale) скидка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) Хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-sale) скидка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) Хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-sale) скидка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) Хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-sale) скидка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) Хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-sale) скидка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Толстовка худи Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-hit) Хит

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-bubble(href='#') Узнать о поступлении

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-sale) скидка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-in-basket(href='#') в корзину

        article.clothes-catalog__item
            .clothes-catalog__item-image
                a.clothes-catalog__link(href='#')
                    img(src='http://via.placeholder.com/280x280/000000/ffffff' alt='title magazine')
                a.tape-tag(href='#' data-new) новинка

            .clothes-catalog__item-information

                h3.clothes-catalog__title Свитшот Майор Гром
                .clothes-catalog__price 1950Р
                .clothes-catalog__button-block
                    a.button-bubble(href='#') Узнать о поступлении


    .pagination

        a.pagination__nav-button(href='#')
            i.mdi.mdi-chevron-left

        a.is-active(href='#') 1

        a(href='#') 2

        a.is-desktop(href='#') 3

        a(href='#') ...

        a.is-desktop(href='#') 17

        a(href='#') 18

        a.pagination__nav-button(href='#')
            i.mdi.mdi-chevron-right
