.movies-about {

    @include mq(md) {
        margin: 0 10rem;
    }

    &__trailer {
        .wysiwyg__video {
            margin-top: 0 !important;
            margin-bottom: 0 !important;
        }
    }

    &__title-block {
        margin-top: 3rem;
        margin-bottom: 4rem;

        @include mq(md) {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            margin-top: 5rem;
        }

        > h1 {
            @include h2();

            @include mq(xs) {
                display: block;
                text-align: center;
                margin-bottom: 2rem;
            }

            @include mq(md) {
                width: 50%;
                text-align: left;
            }
        }
    }

    &__share {
        margin-top: 1rem;
    }

    &__next-link {
        @include interact(color, $color-brand);
        display: inline-block;
        margin-right: .4rem;
        color: $color-base;

        &:not(:last-child) {
            &::after {
                content: ',';
            }
        }
    }

    &__hidden-content {
        display: none;
    }

    &__hidden-content.is-active {
        display: inline;
    }


    // sound list

    &__sound-list {
        margin: 3.6rem 0;
        counter-reset: li;

        @include mq(xs) {
            overflow: auto;
        }

        @include mq(md) {
            margin: 5rem 10rem;
        }
    }

    &__sound-line {
        position: relative;
        display: flex;
        align-items: center;
        padding-left: 4rem;

        @include mq(md) {
            padding-left: 6rem;
        }

        span, b {
            @include font(1.5rem,3.3rem);
        }

        span {
            color: $color-base-lighter;
        }


        &::before {
            @include font(1.5rem,3.3rem);
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            display: block;
            width: 2.2rem;
            text-align: right;
            content: counter(li) '. ';
            counter-increment: li;
            color: $color-base-lighter;

            @include mq(md) {
                left: 2rem;
            }


        }

        &[data-flash='true'] {
            .movies-about__track-icon {
                visibility: visible;
            }
        }


    }

    &__sound-link {
        color: inherit;
    }

    &__track-time {
        margin-left: auto;

        @include mq(xs) {
            width: 4rem;
            text-align: right;
        }
    }

    &__track-name {
        color: #5e5e5e;

        > b {
            font-weight: 500;
            color: $color-base;
        }

        @include mq(xs) {
            @include ellipsis();
            width: calc(100% - 4rem);
        }

    }

    &__track-icon {
        @include font(1.8rem,2rem);
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: $color-base-lighter;
        visibility: hidden;

        @include mq(xs) {
            display: none;
        }
    }


}
