.private-navigate {
    margin: 4.5rem 0 3.5rem;

    @include mq(xs) {
        margin: 4.5rem -2rem 2rem;
        overflow-x: auto;
    }

    &--universe {
        margin: 4.5rem 0 2rem;

        + .filter-slider {
            margin-top: 2rem;

            @include mq(md) {
                margin-top: 2rem;
            }

        }

    }

    &--movies {
        @include mq(md) {
            margin-left: -10rem;
            margin-right: -10rem;
        }
    }

    &__box {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $color-border;

        @include mq(xs) {
            display: inline-flex;
            padding: 0 3rem;
        }

        > a {
            @include font(2rem,2rem);
            @include interact(color, $color-brand);
            @include interact(opacity, 1);
            display: block;
            padding-bottom: 1.5rem;
            border-bottom: 4px solid transparent;
            transform: translateY(1px);
            text-transform: uppercase;
            white-space: nowrap;
            font-weight: 500;
            color: $color-base;
            opacity: .7;

            @include mq(xs) {
            }

            &:not(:last-child) {
                margin-right: 3rem;
            }
        }

        > .is-current {
            @include interact(color, $color-brand);
            color: $color-brand;
            border-color: $color-brand;
            opacity: 1;
        }

    }



}
