.private-sale
    .private-sale__title Текущая скидка

    .private-sale__box.js-private-sale-slider

        .private-sale__item.is-active
            .private-sale__item-image
                img(src='img/sale/01-02.jpg' class='open' alt='0%')
                img(src='img/sale/01-01.jpg' class='disabled' alt='0%')
            .private-sale__item-content
                span.private-sale__item-content-title Новичок
                span.private-sale__item-content-value 0%
                span.private-sale__item-content-price 7 000 &nbsp;<span>&#8381;</span>

        .private-sale__item.is-active
            .private-sale__item-image
                img(src='img/sale/02-02.jpg' class='open' alt='0%')
                img(src='img/sale/02-01.jpg' class='disabled' alt='0%')
            .private-sale__item-content
                span.private-sale__item-content-title Любитель
                span.private-sale__item-content-value 2%
                span.private-sale__item-content-price 15 000 &nbsp;<span>&#8381;</span>

        .private-sale__item.is-active.is-current
            .private-sale__item-image
                img(src='img/sale/03-02.jpg' class='open' alt='0%')
                img(src='img/sale/03-01.jpg' class='disabled' alt='0%')
            .private-sale__item-content
                span.private-sale__item-content-title Фанат
                span.private-sale__item-content-value 4%
                span.private-sale__item-content-price 25 000 &nbsp;<span>&#8381;</span>

        .private-sale__item
            .private-sale__item-image
                img(src='img/sale/04-02.jpg' class='open' alt='0%')
                img(src='img/sale/04-01.jpg' class='disabled' alt='0%')
            .private-sale__item-content
                span.private-sale__item-content-title Знаток
                span.private-sale__item-content-value 6%
                span.private-sale__item-content-price 40 000 &nbsp;<span>&#8381;</span>

        .private-sale__item
            .private-sale__item-image
                img(src='img/sale/05-02.jpg' class='open' alt='0%')
                img(src='img/sale/05-01.jpg' class='disabled' alt='0%')
            .private-sale__item-content
                span.private-sale__item-content-title Эксперт
                span.private-sale__item-content-value 8%
                span.private-sale__item-content-price 60 000 &nbsp;<span>&#8381;</span>

        .private-sale__item
            .private-sale__item-image
                img(src='img/sale/06-02.jpg' class='open' alt='0%')
                img(src='img/sale/06-01.jpg' class='disabled' alt='0%')
            .private-sale__item-content
                span.private-sale__item-content-title Новичок
                span.private-sale__item-content-value 10%
                span.private-sale__item-content-price 0 &nbsp;<span>&#8381;</span>
