.section-box
    .container
        h2.section-box__title
            a(href='#') хиты

        .magazine-catalog

            .magazine-catalog__grid

                .magazine-catalog__item.magazine-catalog__item--col-8
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        .magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                        .magazine-catalog__price 50<span>&#8381;</span>
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club


                .magazine-catalog__item.magazine-catalog__item--col-8
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-at

                    .magazine-catalog__item-information

                        .magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                        .magazine-catalog__price 50<span>&#8381;</span>
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club


                .magazine-catalog__item.magazine-catalog__item--col-8
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        .magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                        .magazine-catalog__price 50<span>&#8381;</span>
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club


                .magazine-catalog__item.magazine-catalog__item--col-8
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-at

                    .magazine-catalog__item-information

                        .magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                        .magazine-catalog__price 50<span>&#8381;</span>
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club


                .magazine-catalog__item.magazine-catalog__item--col-8
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-at

                    .magazine-catalog__item-information

                        .magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                        .magazine-catalog__price 50<span>&#8381;</span>
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club


                .magazine-catalog__item.magazine-catalog__item--col-8
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        .magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                        .magazine-catalog__price 50<span>&#8381;</span>
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club


                .magazine-catalog__item.magazine-catalog__item--col-8
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-at

                    .magazine-catalog__item-information

                        .magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                        .magazine-catalog__price 50<span>&#8381;</span>
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club


                .magazine-catalog__item.magazine-catalog__item--col-8
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        .magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                        .magazine-catalog__price 50<span>&#8381;</span>
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club

