.section-box.section-box--post-promo
    .container
        h2.section-box__title
            span Новинки

        .magazine-catalog

            .magazine-catalog__grid

                article.magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-at

                    .magazine-catalog__item-information

                        h3.magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club


                article.magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        h3.magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') в корзину


                article.magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-at

                    .magazine-catalog__item-information

                        h3.magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') в корзину


                article.magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-at

                    .magazine-catalog__item-information

                        h3.magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') в корзину

                article.magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        h3.magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club

                article.magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-book-open-variant

                    .magazine-catalog__item-information

                        h3.magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-bubble(href='#') bubble club

