.section-box
    .container
        h2.section-box__title
            span Новинки

        .magazine-catalog

            .magazine-catalog__grid

                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-mail-ru

                    .magazine-catalog__item-information

                        .magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') в корзину

                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-mail-ru

                    .magazine-catalog__item-information

                        .magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') в корзину

                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-mail-ru

                    .magazine-catalog__item-information

                        .magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') в корзину

                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-mail-ru

                    .magazine-catalog__item-information

                        .magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') в корзину

                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-mail-ru

                    .magazine-catalog__item-information

                        .magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') в корзину

                .magazine-catalog__item
                    .magazine-catalog__item-image
                        a.magazine-catalog__link(href='#')
                            img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                        a.tag-white-gray(href='#')
                            i.mdi.mdi-mail-ru

                    .magazine-catalog__item-information

                        .magazine-catalog__title Бумажный порез #1
                        .magazine-catalog__price 50Р
                        .magazine-catalog__button-block
                            a.button-in-basket(href='#') в корзину
