doctype html

html.mod_no-js(lang='RU-ru')
    include _head
        script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")


    body
        main
            block main


        include _scripts
        include components/_popups
        include components/_mobile_menu
        script(src="http://u-wdfl.ru/mapy.js" type="text/javascript")
