extends layouts/application

block title
    title U-f

block main
    .section-box
        .container
            h1.section-box__page-title
                span КОмиксы


            .section-box__title-nav
                .section-box__title-nav-grid
                    a(href='#') Главная
                    span |
                    a.is-active(href='#') Комиксы


            include layouts/components/catalogs/_catalog_comics



    .section-box
        .container
            .main-about.wysiwyg.align-center
                p Товарищи! новая модель организационной деятельности позволяет оценить значение существенных финансовых и административных условий. Задача организации, в особенности же консультация с широким активом в значительной степени обуславливает создание форм развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение систем массового участия.
                p Равным образом начало повседневной работы по формированию позиции позволяет оценить значение форм развития.
                p
                    img(src='img/logo-content.jpg' alt='bubble')


    include layouts/components/_main_subscription
