extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span О нас
            .about-us.wysiwyg
                .private-navigate.private-navigate--movies
                    .private-navigate__box
                        a.is-current(href='#') Издательство
                        a(href='#') Вакансии
                        a(href='#') О нас говорят
                        a(href='#') Контакты

                p Говоря о комиксах, следует начать с личности Родольфа Тепфера, франкоязычного швейцарского художника, который стал ключевой фигурой в истории развития современного комикса. В начале XIX столетия он стал последовательно иллюстрировать истории помещая текст под изображениями. Эти его комиксы переиздавались по всей Европе и США. Из-за отсутствия законов об авторском праве пиратские выпуски «рисованных рассказов» стали переводиться и издаваться повсеместно во всем мире.

                .about-us__grid-container

                    .about-us__blockquote-grid.wysiwyg

                        blockquote
                            span Bubble — единственный издатель, который на постоянной основе выпускает оригинальные российские комиксы
                            img(src='img/rbk.png' alt='rbk')

                        blockquote
                            span С первой до последней страницы этот комикс меня не отпускал, а по завершению наполнил желанием узнать, что же будет дальше
                            img(src='img/art.png' alt='rbk')

                        blockquote
                            span Bubble — единственный издатель, который на постоянной основе выпускает оригинальные российские комиксы
                            img(src='img/rbk.png' alt='rbk')

            hr

            .about-us.wysiwyg

                .about-us__history-item.wysiwyg
                    h3 2011
                    p Было создано издательство BUBBLE и сразу заявило себя как серьёзного игрока на российской комикс-сцене, основав собственную супергероическую вселенную.


                .about-us__history-item.wysiwyg
                    h3 Осень 2012
                    p Стартовало 4 ежемесячные серии – экшен-хоррор «Бесобой», приключенческий детектив «Майор Гром», историческая фантастика «Инок» и шпионский боевик «Красная Фурия». Эти серии буквально взорвали отечественный рынок, ознаменовав начало новой эпохи русских комиксов. Не останавливаясь на достигнутом, через два года на крупнейшем в России фестивале комиксов Comic Con Russia BUBBLE объявило о запуске двух новых линеек – космической опере «Метеора» и городском фэнтези «Экслибриум». Новые выпуски всех серий издательства исправно выходят каждый месяц: в результате за 5 лет существования издательства было выпущено более 250 одиночных журналов и 50 книг как сборников существующих серий, так и совершенно оригинальных проектов.


                .about-us__history-item.wysiwyg

                    h3 2015
                    figure
                        img(src='img/vision.png' alt='vision')
                    p Создан импринт BUBBLE Visions, занимающийся авторскими комиксами, не относящимися к основной вселенной BUBBLE


                .about-us__history-item.wysiwyg
                    figure
                        img(src='img/ziggi.png' alt='vision')
                    p Запущена серия «Зигги, космический хомяк» - первый проект издательства, ориентированный на аудиторию всех возрастов, а также глобальный кроссовер «Время Ворона», сюжет которого впервые объединил героев всех серий BUBBLE, столкнув их в борьбе с общим противником.



                .about-us__history-item.wysiwyg

                    h3 декабрь 2016

                    .magazine-catalog

                        .magazine-catalog__grid.magazine-catalog__grid--center

                            article.magazine-catalog__item.magazine-catalog__item--1-4
                                .magazine-catalog__item-image
                                    a.magazine-catalog__link(href='#')
                                        img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')

                            article.magazine-catalog__item.magazine-catalog__item--1-4
                                .magazine-catalog__item-image
                                    a.magazine-catalog__link(href='#')
                                        img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')

                            article.magazine-catalog__item.magazine-catalog__item--1-4
                                .magazine-catalog__item-image
                                    a.magazine-catalog__link(href='#')
                                        img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')

                    p Вышли 50-е и финальные выпуски серий «Майор Гром», «Инок» и «Красная Фурия», а также 50-й и финальный выпуск первой фазы серии «Бесобой».




                .about-us__history-item.wysiwyg

                    h3 январь 2017

                    .magazine-catalog

                        .magazine-catalog__grid.magazine-catalog__grid--center

                            article.magazine-catalog__item.magazine-catalog__item--1-4
                                .magazine-catalog__item-image
                                    a.magazine-catalog__link(href='#')
                                        img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')

                            article.magazine-catalog__item.magazine-catalog__item--1-4
                                .magazine-catalog__item-image
                                    a.magazine-catalog__link(href='#')
                                        img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')

                            article.magazine-catalog__item.magazine-catalog__item--1-4
                                .magazine-catalog__item-image
                                    a.magazine-catalog__link(href='#')
                                        img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')

                            article.magazine-catalog__item.magazine-catalog__item--1-4
                                .magazine-catalog__item-image
                                    a.magazine-catalog__link(href='#')
                                        img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')

                    p На смену пришли абсолютно новые комиксы: «Союзники», «Игорь Гром» и «Мироходцы», а также вторая фаза серии «Бесобой». Эту инициативу окрестили «Второе дыхание». Также было объявлено о подготовке новой серии – «Легенды BUBBLE», призванной стать антологией с историями про любых героев вселенной издательства.




                .about-us__history-item.wysiwyg

                    h3 февраль 2017

                    figure
                        img(src='img/grom.png' alt='lal')
                    p Киноподразделение BUBBLE Studios выпустило первый фильм по русским комиксам – «Майор Гром». Он был выложен в свободный доступ на сайт YouTube.com, где его посмотрели уже более 4 миллионов раз. Летом 2017 начнутся съёмки сиквела – «Майор Гром. Чумной Доктор».

    include layouts/components/_main_subscription
