extends layouts/application_m_popup


block title
    title U-f

block main
    .container

        .basket-map

            .basket-map__list
                .basket-map__list-title-block
                    h5 Точки самовывоза в г. Москва
                    span Точки самовывоза в г. Москва

                .basket-map__list-button
                    a.button-bubble(href='#') показать на карте

                ul.basket-map__list-body

                    li
                        .basket-map__item-title Тимирязевская<br>г. Москва, ул. Яблочкова, д. 21а
                        .basket-map__information
                            b Бесплатно

                            span Завтра, 9 июня

                        .basket-map__information-min
                            span PickPoint
                            span Срок хранения: 14 дней


                    li
                        .basket-map__item-title Тимирязевская<br>г. Москва, ул. Яблочкова, д. 21а
                        .basket-map__information
                            b Бесплатно

                            span Завтра, 9 июня

                        .basket-map__information-min
                            span PickPoint
                            span Срок хранения: 14 дней


                    li
                        .basket-map__item-title Тимирязевская<br>г. Москва, ул. Яблочкова, д. 21а
                        .basket-map__information
                            b Бесплатно

                            span Завтра, 9 июня

                        .basket-map__information-min
                            span PickPoint
                            span Срок хранения: 14 дней


            a.basket-map__mobile-back-button(href='#')
                i.mdi.mdi-close
