extends layouts/app_map_shop

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span БЛОГ КОМАНДЫ

            .blog-section
                .blog-section__grid

                    .blog-section__blog-box

                        .main-blog.main-blog--for-blog-page
                            .main-blog__item-box

                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Прямой эфир с Антоном <br> Габреляновым
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Премьера «Майора Грома»
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title По комиксу «Метеора» снимут фильм
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title По комиксу «Метеора» снимут фильм
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title По комиксу «Метеора» снимут фильм
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.





                                .news-subscription

                                    .news-subscription__image
                                        img(src='img/15-blog.jpg' alt='Подписка')

                                    .news-subscription__form-box
                                            .news-subscription__title Будьте в курсе наших лучших предложений
                                            .news-subscription__description Эксклюзивы, скидки и розыгрыши призов для подписчиков!
                                            form.news-subscription__form
                                                .news-subscription__input-block
                                                    input(type='email' placeholder='Эл. почта')
                                                    button подписаться
                                                    .news-subscription__without-spam
                                                        i.mdi.mdi-checkbox-marked-circle
                                                        span Без спама





                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Bubble посетил Хомякон 2017
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Обложка 26-го выпуска серии «Метеора»!
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.


                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Bubble посетил Хомякон 2017
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Обложка 26-го выпуска серии «Метеора»!
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Обложка 26-го выпуска серии «Метеора»!
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.

                            .pagination.pagination--right

                                a.pagination__nav-button(href='#')
                                    i.mdi.mdi-chevron-left

                                a.is-active(href='#') 1

                                a(href='#') 2

                                a.is-desktop(href='#') 3

                                a(href='#') ...

                                a.is-desktop(href='#') 17

                                a(href='#') 18

                                a.pagination__nav-button(href='#')
                                    i.mdi.mdi-chevron-right


                    aside.blog-section__popular-box

                        .blog-section__popular-box-item

                            article.contest-notice
                                .contest-notice__image
                                    img(src='img/contest-banner.jpg' alt='Конкурс')
                                .contest-notice__container
                                    .contest-notice__content
                                        .contest-notice__tag
                                            span Конкурс
                                        h4.contest-notice__title Лучший отзыв месяца
                                        .contest-notice__description
                                            p Автор самой интересной рецензии получит приз. Гарантируем!
                                        .contest-notice__button-box
                                            .message-button-box Участвовать
                                                a.button-message(href='#') Участвовать


                        .blog-section__popular-box-item
                            .blog-section__popular-box-item-title Популярные статьи

                            .blog-popular-article


                                a.blog-popular-article__item(href='#')
                                    .blog-popular-article__item-image
                                        img(src='http://via.placeholder.com/80x60/b20054/ffffff' alt='title magazine')
                                    .blog-popular-article__item-content
                                        h4.blog-popular-article__item-title По комиксу «Метеора» снимут фильм
                                        .blog-popular-article__item-views
                                            i.mdi.mdi-eye(data-quantity='614')


                                a.blog-popular-article__item(href='#')
                                    .blog-popular-article__item-image
                                        img(src='http://via.placeholder.com/80x60/b20054/ffffff' alt='title magazine')
                                    .blog-popular-article__item-content
                                        h4.blog-popular-article__item-title Запуск новой серии комиксов
                                        .blog-popular-article__item-views
                                            i.mdi.mdi-eye(data-quantity='554')


                                a.blog-popular-article__item(href='#')
                                    .blog-popular-article__item-image
                                        img(src='http://via.placeholder.com/80x60/b20054/ffffff' alt='title magazine')
                                    .blog-popular-article__item-content
                                        h4.blog-popular-article__item-title Премьера «Майора Грома»
                                        .blog-popular-article__item-views
                                            i.mdi.mdi-eye(data-quantity='444')


                                a.blog-popular-article__item(href='#')
                                    .blog-popular-article__item-image
                                        img(src='http://via.placeholder.com/80x60/b20054/ffffff' alt='title magazine')
                                    .blog-popular-article__item-content
                                        h4.blog-popular-article__item-title Премьера «Майора Грома»
                                        .blog-popular-article__item-views
                                            i.mdi.mdi-eye(data-quantity='444')


                                a.blog-popular-article__item(href='#')
                                    .blog-popular-article__item-image
                                        img(src='http://via.placeholder.com/80x60/b20054/ffffff' alt='title magazine')
                                    .blog-popular-article__item-content
                                        h4.blog-popular-article__item-title Прямой эфир с Антоном Габреляновым
                                        .blog-popular-article__item-views
                                            i.mdi.mdi-eye(data-quantity='184')









    include layouts/components/_main_subscription
