extends layouts/application

block title
    title U-f

block main
    .section-box.section-box--over
        .container

            .section-box__title-nav

                a(href='#') Главная
                span |
                a(href='#') Все записи
                span |
                a(href='#') История комиксов
                span |
                a.is-active(href='#') История комиксов: рождение супергероев

            .article
                .h1.article__title История комиксов: рождение суперзлодеев<br>и супергероев
                .article__content.wysiwyg
                    .article__article-label
                        .article__article-label-item
                            .social-share

                                a.social-share__twitter(href='#')
                                    i.mdi.mdi-twitter
                                    .social-share__title Твитнуть
                                    .social-share__counter(data-counter='0')

                                a.social-share__facebook(href='#')
                                    i.mdi.mdi-facebook
                                    .social-share__title Поделиться
                                    .social-share__counter(data-counter='4')

                                a.social-share__vk(href='#')
                                    i.mdi.mdi-vk
                                    .social-share__title Поделиться
                                    .social-share__counter(data-counter='2')

                                a.social-share__google(href='#')
                                    i.mdi.mdi-google-plus
                                    .social-share__counter(data-counter='0')

                                a.social-share__ok(href='#')
                                    i.mdi.mdi-odnoklassniki
                                    .social-share__counter(data-counter='0')

                                a.social-share__alt(href='#')
                                    i
                        .article__article-label-item
                            .article__statistics
                                time(datetime='23.09.2010') 9 сентября 2017
                                i.mdi.mdi-eye-outline(data-quantity='314')
                                i.mdi.mdi-comment(data-quantity='28')

                    p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы наскальной живописи, в которых, наряду со сценами из реальной жизни, появились первые супергерои, воплотившиеся в образы древних богов.

                    img(src='http://via.placeholder.com/780x500/b20054/ffffff' alt='title magazine')

                    p Не одно поколение подростков выросло на графических новеллах о Супермене, Бэтмене, Халке, Железном человеке. Комиксы были и остаются предметом культа, хотя объяснить, почему супергерои так волнуют умы молодых и взрослых, задача не из легких.

                    p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы наскальной живописи, в которых, наряду со сценами.

                    figure
                        img(src='http://via.placeholder.com/500x350/b20054/ffffff' alt='title magazine')
                        figcaption Наскальные рисунки индейцев хопи в штате Аризона, США

                    p Хронология развития такого жанра, как комиксы является весьма длинной и продолжительной, изобилующей многочисленными датами, поэтому, перечисляя основные вехи развития комиксов, мы ограничимся путешествием по XIX и XX столетиям, так как именно в этот период произошел качественный скачок в развитии жанра и появились известные нам герои.

                    p Говоря о комиксах, следует начать с личности Родольфа Тепфера, франкоязычного швейцарского художника, который стал ключевой фигурой в истории развития современного комикса. В начале XIX столетия он стал последовательно иллюстрировать истории, помещая текст под изображениями. Эти его комиксы переиздавались по всей Европе и США. Из-за


                    h2 Фотогравюра

                    p Изобретение фотогравюры в 1873 году сделало газеты относительно недорогими и позволило выпускать их с большим количеством иллюстраций. Такое изменение в технологии и послужило толчком для развития комиксов и их массового производства. Особое развитие искусство комиксов получило в Америке. В 1893 году в газете «The New York World» Джозеф Пулитцер издал свой первый полностраничный цветной комикс, и в этом же самом году другие газеты начали печатать цветные комиксы.

                    ul
                        li Массовое развитие печати как таковой;

                        li Появление цвета в печати;

                        li Пересмотр формата печатной книги;

                        li Технология как инструмент для создания чего-то нового

                    figure
                        img(src='http://via.placeholder.com/500x350/b20054/ffffff' alt='title magazine')
                        figcaption Наскальные рисунки индейцев хопи в штате Аризона, США

                    h3 Золотой век комиксов

                    p Следующий этап развития отечественной комиксографии связан с именем Владимира Даля. Его произведение «Похождения Христиана Христиановича Виольдамура и его Аршета» во многом напоминало современные комиксы, так как в основу сюжета, а точнее — повествования был положен рассказ в картинках. Такая своеобразная форма подачи материала не была по достоинству оценена современниками Даля, поэтому дальнейшего развития «рассказы в картинках» не получили.

                    p В августе 1914 года в Москве появилось объединение «Сегодняшний лубок», участниками которого стали такие представители отечественной культурной элиты, как Казимир Малевич Аристарх Лентулов, Давид Бурлюк, Владимир Маяковский. Общество выпускало агитационные листки на военную тематику, в которых содержались как картинки, так и текстовая информация.

                    blockquote В Советской России широкого распространения комикс не получил: отечественные идеологические службы всячески препятствовали появлению в нашей стране каких-либо элементов «западной» культуры

                    p Распространение комиксографии привело к тому, что в 1930-х власти ее официально запретили, назвав комиксы «буржуазно-американским способом оболванивания молодежи». Единственным источником появления новых рассказов-иллюстраций долгое время продолжал оставаться детский журнал «Мурзилка». Только в 1956 году ЦК ВЛКСМ начал издавать новый журнал «Веселые картинки», который активно стал использовать

                    h5 Золотой век комиксов

                    p Следующий этап развития отечественной комиксографии связан с именем Владимира Даля. Его произведение «Похождения Христиана Христиановича Виольдамура и его Аршета» во многом напоминало современные комиксы, так как в основу сюжета, а точнее — повествования был положен рассказ в картинках. Такая своеобразная форма подачи материала не была по достоинству оценена современниками Даля, поэтому дальнейшего развития «рассказы в картинках» не получили.

                    p В августе 1914 года в Москве появилось объединение «Сегодняшний лубок», участниками которого стали такие представители отечественной культурной элиты, как Казимир Малевич. Аристарх Лентулов, Давид Бурлюк, Владимир Маяковский. Общество выпускало агитационные листки на военную тематику, в которых содержались как картинки, так и текстовая информация.

                    .article__article-label
                        .article__article-label-item
                            .social-share

                                a.social-share__twitter(href='#')
                                    i.mdi.mdi-twitter
                                    .social-share__title Твитнуть
                                    .social-share__counter(data-counter='0')

                                a.social-share__facebook(href='#')
                                    i.mdi.mdi-facebook
                                    .social-share__title Поделиться
                                    .social-share__counter(data-counter='4')

                                a.social-share__vk(href='#')
                                    i.mdi.mdi-vk
                                    .social-share__title Поделиться
                                    .social-share__counter(data-counter='2')

                                a.social-share__google(href='#')
                                    i.mdi.mdi-google-plus
                                    .social-share__counter(data-counter='0')

                                a.social-share__ok(href='#')
                                    i.mdi.mdi-odnoklassniki
                                    .social-share__counter(data-counter='0')

                                a.social-share__alt(href='#')
                                    i
                        .article__article-label-item
                            .article__tag-block
                                a(href='#') Майор Гром
                                a(href='#') Комикс
                                a(href='#') Книга


    .section-box
        .container
            .main-blog

                h2.section-box__title
                    span рекомендованное

                .main-blog__grid

                    a.main-blog__item(href='#')
                        .main-blog__image
                            img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')
                        .main-blog__time 1 сентября
                        .main-blog__title Прямой эфир с Антоном Габреляновым
                        .main-blog__statistics
                            i.mdi.mdi-eye-outline(data-quantity='314')
                            i.mdi.mdi-comment(data-quantity='28')

                    a.main-blog__item(href='#')
                        .main-blog__image
                            img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')
                        .main-blog__time 1 сентября
                        .main-blog__title Премьера экранизации «Майора Грома»
                        .main-blog__statistics
                            i.mdi.mdi-eye-outline(data-quantity='314')
                            i.mdi.mdi-comment(data-quantity='28')

                    a.main-blog__item(href='#')
                        .main-blog__image
                            img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')
                        .main-blog__time 1 сентября
                        .main-blog__title Bubble посетил Хомякон 17
                        .main-blog__statistics
                            i.mdi.mdi-eye-outline(data-quantity='314')
                            i.mdi.mdi-comment(data-quantity='28')

                    a.main-blog__item(href='#')
                        .main-blog__image
                            img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')
                        .main-blog__time 1 сентября
                        .main-blog__title По комиксу «Метеора» снимут фильм
                        .main-blog__statistics
                            i.mdi.mdi-eye-outline(data-quantity='314')
                            i.mdi.mdi-comment(data-quantity='28')

    .section-box
        .container
            img(src='img/dis.png' alt='здесь будет дискус' style='display: block; margin: 0 auto')

    include layouts/components/_main_subscription
