extends layouts/application

block title
    title U-f

block main

    .section-box
        .container
            .article

                h1.article__title demo


                .wysiwyg.align-center

                    h5(style='text-align: center') popups

                    p
                        <a class='js-open-popup-form' href='#registration'>Регистрация</a>

                    p
                        <a class='js-open-popup-form' href='#callback'>Обратная связь</a>

                    p
                        <a class='js-open-popup-form' href='#login-in'>Войти</a>

                    h5(style='text-align: center') Страницы

                    p
                        <a href='index.html'>Главная</a>

                    p
                        <a href='2_category.html'>Категория (одежда)</a>

                    p
                        <a href='2_category_comics.html'>Категория (комиксы)</a>

                    p
                        <a href='2_sub_category.html'>Подкатегория (одежда)</a>

                    p
                        <a href='2_sub_category_comics.html'>Подкатегория (комиксы)</a>

                    p
                        <a href='item-card.html'>Страница товара</a>

                    p
                        <a href='content.html'>Статья</a>

                    p
                        <a href='content-simple.html'>Статья (simple)</a>

                    p
                        <a href='about.html'>О нас</a>

                    p
                        <a href='jobs.html'>Вакансии</a>

                    p
                        <a href='faq.html'>faq</a>

                    p
                        <a href='shares.html'>Акции</a>

                    p
                        <a href='shares_sale.html'>Акции + скидки</a>

                    p
                        <a href='sale.html'>Скидка</a>

                    p
                        <a href='shops.html'>Магазины</a>

                    p
                        <a href='movies.html'>Фильмы</a>

                    p
                        <a href='movies_about.html'>О фильме</a>

                    p
                        <a href='behind.html'>За кадром</a>

                    p
                        <a href='soundtracks.html'>Музыка</a>

                    p
                        <a href='subscribe.html'>Подписка</a>

                    p
                        <a href='univers.html'>Вселенная (Персонажи)</a>

                    p
                        <a href='wallpaper.html'>Вселенная (Обои)</a>

                    p
                        <a href='person.html'>Персонаж</a>

                    p
                        <a href='blog.html'>Блог</a>

                    p
                        <a href='reviews.html'>Отзывы</a>

                    p
                        <a href='reviews-regulations.html'>Отзывы (правила)</a>

                    p
                        <a href='review.html'>Отзыв</a>

                    p
                        <a href='review-add.html'>Добавить отзыв</a>



                    h5(style='text-align: center') Корзина / Подписка

                    p
                        <a href='basket.html'>Корзина (рег.)</a>

                    p
                        <a href='basket_no-reg_sub.html'>Подписка (не рег.)</a>

                    p
                        <a href='basket_reg_sam.html'>Корзина (рег. самовывоз)</a>


                    p
                        b Выборы пункта доставки на десктопе:

                    p
                        <a href='basket_map.html'>Список</a>


                    p
                        <a href='basket_map_go.html'>Выбранный пункт</a>



                    p
                        b Выборы пункта доставки на мобильных устройствах:



                    p
                        <a href='basket_map_list.html'>Список</a>


                    p
                        <a href='basket_map_list_map.html'>Карта</a>


                    p
                        <a href='basket_map_m_destination.html'>Выбранный пункт</a>


                    h5(style='text-align: center') Поиск

                    p
                        <a href='search_result_m.html'>Поиск (журналы)</a>

                    p
                        <a href='search_result_c.html'>Поиск (товары)</a>

                    p
                        <a href='search_result_faq.html'>Поиск (faq)</a>

                    p
                        <a href='search_empty.html'>Поиск (Пусто)</a>

                    p
                        <a href='search-result.html'>Поиск (блог)</a>


                    p
                        <a href='lk-info.html'>Личный Кабинет (Персональные данные)</a>

                    p
                        <a href='lk-history.html'>Личный Кабинет (История заказов)</a>

                    p
                        <a href='404.html'>404.html</a>

                    p
                        <a href='mail.html'>Письмо</a>

                    p
                        <a href='mail_result.html'>Письмо 2</a>

                    p
                        img(src='img/logo-content.jpg' alt='bubble')


    include layouts/components/_main_subscription







