extends layouts/application

block title
    title Index / Neo

block main

    .section-box
        .container
            .main-about.wysiwyg.align-center

                h1 demo

                p
                    <a href='index.html'>Главная</a>

                p
                    <a href='2_category.html'>Категория (одежда)</a>

                p
                    <a href='2_category_comics.html'>Категория (комиксы)</a>

                p
                    <a href='2_sub_category.html'>Подкатегория (одежда)</a>

                p
                    <a href='2_sub_category_comics.html'>Покатегория (комиксы)</a>

                p
                    img(src='img/logo-content.jpg' alt='bubble')


    include layouts/components/_main_subscription







