extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span часто задаваемые вопросы
            .faq
                form.faq__search-form.form
                    .form__input-block
                        input(type='search' placeholder='Быстрый поиск')

                .information-dropdown-container

                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Где можно посмотреть тарифы на доставку?
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p Следующий этап развития отечественной комиксографии связан с именем Владимира Даля. Его произведение «Похождения Христиана Христиановича Виольдамура и его Аршета» во многом напоминало современные комиксы, так как в основу сюжета, а точнее — повествования был положен рассказ в картинках. Такая своеобразная форма подачи материала не была по достоинству оценена современниками Даля, поэтому дальнейшего развития «рассказы в картинках» не получили.


                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Возможна доставка на следующий день?
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы появились первые супергерои, воплотившиеся.
                            ul
                                li заказ доставляется по Москве;
                                li служба доставки, выбранная в качестве исполнителя, — Axiomus, MaxiPost
                                li заказ поступил в службу доставки либо на единый склад до 22:00 текущего дня.
                            p
                                a(href='#') Подробнее


                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Стоимость доставки для покупателя нашего магазина зависит от суммы его заказа. Как это учесть при работе с сервисом?
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы появились первые супергерои, воплотившиеся.
                            ul
                                li заказ доставляется по Москве;
                                li служба доставки, выбранная в качестве исполнителя, — Axiomus, MaxiPost
                                li заказ поступил в службу доставки либо на единый склад до 22:00 текущего дня.
                            p
                                a(href='#') Подробнее


                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Условия некоторых служб доставки нам не подходят, можно выбрать услуги только определенных служб доставки?
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы появились первые супергерои, воплотившиеся.
                            ul
                                li заказ доставляется по Москве;
                                li служба доставки, выбранная в качестве исполнителя, — Axiomus, MaxiPost
                                li заказ поступил в службу доставки либо на единый склад до 22:00 текущего дня.
                            p
                                a(href='#') Подробнее


                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Можно ли разом отгружать все заказы для разных служб доставки?
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы появились первые супергерои, воплотившиеся.
                            ul
                                li заказ доставляется по Москве;
                                li служба доставки, выбранная в качестве исполнителя, — Axiomus, MaxiPost
                                li заказ поступил в службу доставки либо на единый склад до 22:00 текущего дня.
                            p
                                a(href='#') Подробнее


                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Каковы ограничения по габаритам заказа?
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы появились первые супергерои, воплотившиеся.
                            ul
                                li заказ доставляется по Москве;
                                li служба доставки, выбранная в качестве исполнителя, — Axiomus, MaxiPost
                                li заказ поступил в службу доставки либо на единый склад до 22:00 текущего дня.
                            p
                                a(href='#') Подробнее


                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Где можно посмотреть тарифы на доставку?
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы появились первые супергерои, воплотившиеся.
                            ul
                                li заказ доставляется по Москве;
                                li служба доставки, выбранная в качестве исполнителя, — Axiomus, MaxiPost
                                li заказ поступил в службу доставки либо на единый склад до 22:00 текущего дня.
                            p
                                a(href='#') Подробнее


                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Принимают ли службы доставки возвраты заказов от покупателей?
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы появились первые супергерои, воплотившиеся.
                            ul
                                li заказ доставляется по Москве;
                                li служба доставки, выбранная в качестве исполнителя, — Axiomus, MaxiPost
                                li заказ поступил в службу доставки либо на единый склад до 22:00 текущего дня.
                            p
                                a(href='#') Подробнее


                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Предоставляется ли услуга частичного возврата заказа?
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы появились первые супергерои, воплотившиеся.
                            ul
                                li заказ доставляется по Москве;
                                li служба доставки, выбранная в качестве исполнителя, — Axiomus, MaxiPost
                                li заказ поступил в службу доставки либо на единый склад до 22:00 текущего дня.
                            p
                                a(href='#') Подробнее


                    .information-dropdown
                        a.information-dropdown__title-line.js-information-dropdown-title(href='#')
                            span Я не нашел ответа на свой вопрос
                            i.mdi.mdi-chevron-down
                        .information-dropdown__content.wysiwyg
                            p История комиксов, как ни удивительно это звучит, имеет очень древние корни, которые восходят еще к тем временам, когда люди жили в пещерах и охотились на мамонтов. Именно тогда появились первые образцы появились первые супергерои, воплотившиеся.
                            ul
                                li заказ доставляется по Москве;
                                li служба доставки, выбранная в качестве исполнителя, — Axiomus, MaxiPost
                                li заказ поступил в службу доставки либо на единый склад до 22:00 текущего дня.
                            p
                                a(href='#') Подробнее


                .pagination

                    a.pagination__nav-button(href='#')
                        i.mdi.mdi-chevron-left

                    a.is-active(href='#') 1

                    a(href='#') 2

                    a.is-desktop(href='#') 3

                    a(href='#') ...

                    a.is-desktop(href='#') 17

                    a(href='#') 18

                    a.pagination__nav-button(href='#')
                        i.mdi.mdi-chevron-right

        include layouts/components/_main_subscription

