extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span часто задаваемые вопросы
            .faq.wysiwyg

        include layouts/components/_main_subscription
