extends layouts/application

block title
    title Index / Neo

block main
    .section-box
        .container
            .promo-news
                .promo-news__box

                // desktop

                .promo-news__grid
                    .promo-news__top-news
                        .promo-news__news-body
                            a.promo-news__link(href='#')
                                .promo-news__news-image
                                    img(src='img/promonews.jpg' alt='news title')
                                    .promo-news__box-shadow
                                    .promo-news__box-shadow-alt

                            .promo-news__news-content-box.promo-news__news-content-box--promo
                                .promo-news__news-content.promo-news__news-content--promo
                                    .promo-news__news-event-info
                                        span Мероприятие

                                    h3 Успей посетить Хомякон 2017

                                    .promo-news__button-block
                                        a.button-message(href='#') Участвовать

                    .promo-news__all-news
                        .promo-news__all-news_item
                            a.promo-news__link(href='#')

                                .promo-news__news-body
                                    .promo-news__news-image
                                        img(src='http://via.placeholder.com/380x210/5e40c1/ffffff' alt='news title')
                                        .promo-news__box-shadow
                                        .promo-news__box-shadow-alt
                                    .promo-news__news-content-box
                                        .promo-news__news-content.promo-news__news-content

                                            h3 25 мая выходит новая<br>книга Майор Гром


                        .promo-news__all-news_item
                            a.promo-news__link(href='#')

                                .promo-news__news-body
                                    .promo-news__news-image
                                        img(src='http://via.placeholder.com/380x210/5e40c1/ffffff' alt='news title')
                                        .promo-news__box-shadow
                                        .promo-news__box-shadow-alt
                                    .promo-news__news-content-box
                                        .promo-news__news-content

                                            h3 Только 24 часа Черная Пятница на Bubble



    include layouts/components/index_catalogs/_magazine_catalog
    include layouts/components/_promo_section
    include layouts/components/_about_shop
    include layouts/components/index_catalogs/_magazine_catalog_2
    include layouts/components/_new_issue
    include layouts/components/_index_teaser
    include layouts/components/_index_contest
    include layouts/components/_main_blog
    include layouts/components/_schedule
    include layouts/components/_link_section

    .section-box
        .container
            .main-about.wysiwyg.align-center
                p Добро пожаловать на официальный сайт издательства BUBBLE!<br>C 2012 года мы издаем оригинальные комиксы на русском языке, именно это слагаемые успеха BUBBLE.
                p На нашем сайте вы можете найти не только подробную информацию о наших сериях, героях, планах на будущее и принять участие в конкурсах, но и посетить наш официальный магазин комиксов, где сможете заказать комиксы, сувенирную продукцию и одежду с символикой героев BUBBLE. Всё это вы можете сделать максимально быстро и удобно. Коллекция наших комиксов постоянно пополняется, новые выпуски серий выходят ежемесячно.
                p Начните своё знакомство со Вселенной BUBBLE прямо сейчас!
                p
                    img(src='img/logo-content.jpg' alt='bubble')


    include layouts/components/_main_subscription







