extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span Вакансии
            .about-us.wysiwyg
                .private-navigate.private-navigate--movies
                    .private-navigate__box
                        a(href='#') Издательство
                        a.is-current(href='#') Вакансии
                        a(href='#') О нас говорят
                        a(href='#') Контакты

                .jobs-catalog

                    article.jobs-catalog__item.wysiwyg

                        h4 Руководитель филиала
                        p Постановка плана задач и продаж. Контроль оценки результатов продаж. Распределение стимулов поощрения. Работа с клиентами‚ жалобами с их стороны. Подбор персонала и увольнение. Ведение соответствующих отчетностей‚ требующихся документов. Мотивация подчиненных сотрудников. Планерки и совещания – организация и непосредственно проведение. Контроль выполнения должностных обязанностей.
                        .jobs-catalog__button-box
                            a.button-bubble(href='#') показать полностью

                    article.jobs-catalog__item.wysiwyg

                        h4 Иллюстратор
                        p Постановка плана задач и продаж. Контроль оценки результатов продаж. Распределение стимулов поощрения. Работа с клиентами‚ жалобами с их стороны. Подбор персонала и увольнение. Ведение соответствующих отчетностей‚ требующихся документов. Мотивация подчиненных сотрудников. Планерки и совещания – организация и непосредственно проведение. Контроль выполнения должностных обязанностей.
                        .jobs-catalog__button-box
                            a.button-bubble(href='#') показать полностью


                    article.jobs-catalog__item.wysiwyg

                        h4 Товаровер в интернет-магазин
                        p Постановка плана задач и продаж. Контроль оценки результатов продаж. Распределение стимулов поощрения. Работа с клиентами‚ жалобами с их стороны. Подбор персонала и увольнение. Ведение соответствующих отчетностей‚ требующихся документов. Мотивация подчиненных сотрудников. Планерки и совещания – организация и непосредственно проведение. Контроль выполнения должностных обязанностей.
                        .jobs-catalog__button-box
                            a.button-bubble(href='#') показать полностью

    include layouts/components/_main_subscription
