doctype html

html.mod_no-js(lang='RU-ru')

    head
        block head
            meta(charset='utf-8')

            title mail

            script var screenWidth = screen.width; var metaContentWidth; if (screen.width < 768) {metaContentWidth = 'device-width, initial-scale=1';} else {metaContentWidth = 1220;} document.write('<meta name="viewport" content="width=' + metaContentWidth + '">');
            meta(name='description' content='')
            meta(name='keywords' content='')


    body(style='margin: 0; padding: 0; color: #1a1a1a; background-color: #e6e6e6; font-family: \'Helvetica Neue\', Helvetica, Arial, Verdana, Tahoma, sans-serif; background-color: #ffffff;')

        table(align='center' width='700')

            thead(style='background: #12161a')
                tr
                    td
                        table(align='center' width='700px' height='50px' cellpadding="0" cellspacing="0" style='text-align: center')
                            tr

                                td

                                    table(align='center' width='400' cellpadding="0" cellspacing="0" style='text-align: center')
                                        tr

                                            td(style='padding: 15px 0')
                                                a(href='#' target='_blank' style='display: inline-block; color: #fff; font-size: 15px; text-decoration: none; padding: 0 15px') Новинки

                                            td(style='padding: 15px 0')
                                                a(href='#' target='_blank' style='display: inline-block; color: #fff; font-size: 15px; text-decoration: none; padding: 0 15px') Хиты

                                            td(style='padding: 15px 0')
                                                a(href='#' target='_blank' style='display: inline-block; color: #fff; font-size: 15px; text-decoration: none; padding: 0 15px') Подписка

                                            td(style='padding: 15px 0')
                                                a(href='#' target='_blank' style='display: inline-block; color: #fff; font-size: 15px; text-decoration: none; padding: 0 15px') Предзаказ


            tr

                td(height='20px')

            tr

                td

                    table(align='center' width='580px' height='90px' cellpadding="0" cellspacing="0")
                        tr

                            td(height='90px' valign='middle' style='text-align: right')
                                span(style='font-size: 13px; line-height: 20px;') <b>8 495 663-38-11</b><br>пн-пт: 9-20, сб-вс: 10-19


                            td(width='270px' height='90px' style='text-align: center')
                                img(src='img/logo.jpg')

                            td(height='90px' valign='middle' style='text-align: left')
                                span(style='font-size: 13px; line-height: 20px;') Нет картинок?<br> <a href='#' style='text-decoration: underline; color: #4885c5'>Откройте веб-версию</a>



            tr

                td(height='45px')

            tr

                table(align='center' width='580px' cellpadding="0" cellspacing="0")
                    thead
                        tr
                            td
                                h1(style='font-weight: 700; margin: 0; color: #1a1a1a; font-size: 30px; line-height: 40px; text-align: center') Vivamus blandit, nulla at porttitor bibendum, metus urna dictum justo

                        tr
                            td(height='25px')
                        tr
                            td
                                img(src='http://via.placeholder.com/580x340/8072b5/ffffff')
                        tr
                            td(height='25px')

                        tr
                            td
                                p(style='margin: 0; font-size: 15px; line-height: 22px; color: #1a1a1a;') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        tr
                            td(height='25px')
                        tr
                            td(style='text-align: center')
                                a(href='#', style='display: inline-block; min-width: 380px; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Открыть

                        tr
                            td(height='60px')

                        tr
                            td(height='1px' style='border: 0; border-top-width: 1px; border-style: solid; border-color: #e7e7e8')

                        tr
                            td(height='45px')

                        tr
                            td
                                h2(style='font-weight: 700; margin: 0; color: #1a1a1a; font-size: 30px; line-height: 40px; text-align: center') Lorem ipsum dolor sit amet

                        tr
                            td(height='25px')

                        tr
                            td
                                p(style='margin: 0; font-size: 15px; line-height: 22px; color: #1a1a1a;') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

                        tr
                            td(height='25px')

                        tr
                            td
                                table(align='center' width='580px' cellpadding="0" cellspacing="0")
                                    tr

                                        td(width='180px')
                                            img(src='http://via.placeholder.com/180x280/8072b5/ffffff' alt='yep')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') Бумажный порез #1
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее

                                        td(width='220px' style='text-align: center; padding: 0 20px')
                                            img(src='http://via.placeholder.com/180x280/8072b5/ffffff' alt='yep' style='display: inline-block;')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') Бумажный порез #1
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее

                                        td(width='180px')
                                            img(src='http://via.placeholder.com/180x280/8072b5/ffffff' alt='yep')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') Бумажный порез #1
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее

                        tr
                            td(height='60px')

                        tr
                            td(height='1px' style='border: 0; border-top-width: 1px; border-style: solid; border-color: #e7e7e8')

                        tr
                            td(height='45px')

                        tr
                            td
                                h2(style='font-weight: 700; margin: 0; color: #1a1a1a; font-size: 30px; line-height: 40px; text-align: center') Lorem ipsum dolor sit amet

                        tr
                            td(height='25px')

                        tr
                            td
                                p(style='margin: 0; font-size: 15px; line-height: 22px; color: #1a1a1a; text-align: center;') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

                        tr
                            td(height='25px')


                        tr
                            td
                                table(align='center' width='580px' cellpadding="0" cellspacing="0")
                                    tr

                                        td(width='150px' style='text-align: center; padding-right: 20px')
                                            img(src='http://via.placeholder.com/130x200/8072b5/ffffff' alt='yep')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') В поисках Грааля
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее

                                        td(width='240px' style='text-align: center; padding-right: 10px')
                                            img(src='http://via.placeholder.com/130x200/8072b5/ffffff' alt='yep' style='display: inline-block;')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') В поисках Грааля
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее

                                        td(width='140px' style='text-align: center; padding-left: 10px')
                                            img(src='http://via.placeholder.com/130x200/8072b5/ffffff' alt='yep')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') В поисках Грааля
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее

                                        td(width='150px' style='text-align: center; padding-left: 20px')
                                            img(src='http://via.placeholder.com/130x200/8072b5/ffffff' alt='yep')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') В поисках Грааля
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее



                        tr
                            td(height='60px')

                        tr
                            td(height='1px' style='border: 0; border-top-width: 1px; border-style: solid; border-color: #e7e7e8')

                        tr
                            td(height='45px')

                        tr
                            td
                                h2(style='font-weight: 700; margin: 0; color: #1a1a1a; font-size: 30px; line-height: 40px; text-align: center') Lorem ipsum dolor sit amet

                        tr
                            td(height='25px')

                        tr
                            td
                                p(style='margin: 0; font-size: 15px; line-height: 22px; color: #1a1a1a; text-align: center;') Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud

                        tr
                            td(height='25px')


                        tr
                            td
                                table(align='center' width='580px' cellpadding="0" cellspacing="0")
                                    tr

                                        td(width='180px')
                                            img(src='http://via.placeholder.com/180x180/8072b5/ffffff' alt='yep')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') Хамбл Кактус
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее

                                        td(width='220px' style='text-align: center; padding: 0 20px')
                                            img(src='http://via.placeholder.com/180x180/8072b5/ffffff' alt='yep' style='display: inline-block;')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') Фляжка супергероя
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее

                                        td(width='180px')
                                            img(src='http://via.placeholder.com/180x180/8072b5/ffffff' alt='yep')
                                            h4(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: 400') Робот брелок
                                            h5(style='font-size: 15px; text-align: left; line-height: 20px; margin: 12px 0 10px; font-weight: bold; ') 50Р
                                            a(href='#', style='display: block; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #fff; background: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Подробнее



                        tr
                            td(height='30px')
                        tr
                            td(style='text-align: center')
                                a(href='#', style='display: inline-block; min-width: 380px; padding: 14px 25px 12px; border: 1px solid #4885c5; color: #4885c5; font-size: 13px; line-height: 13px; text-align: center; text-transform: uppercase; text-decoration:none;', target='_blank') Открыть

                        tr
                            td(height='60px')

                        tr
                            td
                                a(href='#' style='display: block; text-align: center')
                                    img(src='img/mailbaner.jpg' alt='movie')

                        tr
                            td(height='60px')


                        tr
                            td
                                table(align='center' width='580px' cellpadding="0" cellspacing="0")
                                    tr

                                        td(width='290px' style='padding: 0; padding-left: 10px')
                                            a(href='#' style='text-decoration: none;')
                                                img(src='http://via.placeholder.com/280x220/8072b5/ffffff' alt='yep' style='display: inline-block;')
                                                h4(style='font-size: 19px; text-decoration: none; color: #1a1a1a; text-align: left; line-height: 24px; margin: 12px 0 10px; font-weight: 500') Премьера экранизации<br>«Майора Грома»
                                                h5(style='font-size: 13px; text-decoration: none; color: #bbbbbb; text-transform: uppercase; text-align: left; line-height: 17px; margin: 12px 0 10px; font-weight: 300; ') 16 августа

                                        td(width='290px' style='padding: 0; padding-left: 10px')
                                            a(href='#' style='text-decoration: none;')
                                                img(src='http://via.placeholder.com/280x220/8072b5/ffffff' alt='yep' style='display: inline-block;')
                                                h4(style='font-size: 19px; text-decoration: none; color: #1a1a1a; text-align: left; line-height: 24px; margin: 12px 0 10px; font-weight: 500') Премьера экранизации<br>«Майора Грома»
                                                h5(style='font-size: 13px; text-decoration: none; color: #bbbbbb; text-transform: uppercase; text-align: left; line-height: 17px; margin: 12px 0 10px; font-weight: 300; ') 16 августа

                        tr
                            td(height='40px')

                        tr
                            td(height='1px' style='border: 0; border-top-width: 1px; border-style: solid; border-color: #e7e7e8')

                        tr
                            td(height='25px')


                        tr
                            td
                                table(align='center' width='580px' height='50px' cellpadding="0" cellspacing="0" style='text-align: center')
                                    tr

                                        td

                                            table(align='center' width='300' cellpadding="0" cellspacing="0" style='text-align: center')
                                                tr

                                                    td(style='padding: 15px 0')
                                                        a(href='#' target='_blank' style='display: inline-block; color: #000; font-size: 15px; text-decoration: none; padding: 0 15px') О нас

                                                    td(style='padding: 15px 0')
                                                        a(href='#' target='_blank' style='display: inline-block; color: #000; font-size: 15px; text-decoration: none; padding: 0 15px') Доставка

                                                    td(style='padding: 15px 0')
                                                        a(href='#' target='_blank' style='display: inline-block; color: #000; font-size: 15px; text-decoration: none; padding: 0 15px') Оплата

                        tr
                            td(height='10px')

                        tr
                            td
                                p(style='margin: 0; font-size: 15px; line-height: 22px; color: #737373; text-align: center;') Следите за акциями, скидками, спец-предложениями там, где вам удобно:


                        tr
                            td
                                table(align='center' width='580px' height='50px' cellpadding="0" cellspacing="0" style='text-align: center')
                                    tr

                                        td

                                            table(align='center' width='430' cellpadding="0" cellspacing="0" style='text-align: center')
                                                tr

                                                    td(style='padding: 15px 0')
                                                        a(href='#')
                                                            img(src='img/mail/1.png' alt='social')

                                                    td(style='padding: 15px 0')
                                                        a(href='#')
                                                            img(src='img/mail/2.png' alt='social')

                                                    td(style='padding: 15px 0')
                                                        a(href='#')
                                                            img(src='img/mail/3.png' alt='social')

                                                    td(style='padding: 15px 0')
                                                        a(href='#')
                                                            img(src='img/mail/4.png' alt='social')

                                                    td(style='padding: 15px 0')
                                                        a(href='#')
                                                            img(src='img/mail/5.png' alt='social')

                                                    td(style='padding: 15px 0')
                                                        a(href='#')
                                                            img(src='img/mail/6.png' alt='social')

                                                    td(style='padding: 15px 0')
                                                        a(href='#')
                                                            img(src='img/mail/7.png' alt='social')


                        tr
                            td(valign='middle' height='30px')

                        tr

                            td
                                table(align='center' cellpadding="0" cellspacing="0" style='text-align: center')

                                    tr

                                        td(width='150px' style='text-align: left')
                                            a(href='#' style='font-size: 15px; line-height: 22px; color: #737373; text-decoration: none;') © BUBBLE, 2017


                                        td(width='140px' style='padding-right: 7px')
                                            img(src='img/svg/app.svg' alt='app' width='130px')

                                        td(width='140px' style='padding-left: 7px')
                                            img(src='img/google-play.png' alt='app' width='130px')


                                        td(valign='middle' width='150px' style='text-align: right')
                                            a(href='#' style='font-size: 15px; line-height: 22px; color: #737373; text-decoration: underline;') Отписаться

                        tr
                            td(valign='middle' height='60px')
