extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span фильмы

            .movies-catalog

                .movies-catalog__grid

                    article.movies-catalog__item
                        .movies-catalog__image
                            a.movies-catalog__link(href='#')
                                img(src='http://via.placeholder.com/580x360/b20054/ffffff' alt='title magazine')
                        a.movies-catalog__link(href='#')
                            h2.movies-catalog__title Майор Гром

                        p.movies-catalog__desctiption Игорь Гром — опытный следователь из Санкт-Петербурга, известный своим пробивным характером и непримиримой позицией по отношению...
                        .movies-catalog__statistics
                            i.mdi.mdi-calendar-today(data-quantity='2017')
                            span КП: 6,138

                    article.movies-catalog__item
                        .movies-catalog__image
                            a.movies-catalog__link(href='#')
                                img(src='http://via.placeholder.com/580x360/b20054/ffffff' alt='title magazine')
                        a.movies-catalog__link(href='#')
                            h2.movies-catalog__title Метеора

                        p.movies-catalog__desctiption Игорь Гром — опытный следователь из Санкт-Петербурга, известный своим пробивным характером и непримиримой позицией по отношению...
                        .movies-catalog__statistics
                            i.mdi.mdi-calendar-today(data-quantity='2017')
                            span КП: 6,138

                    article.movies-catalog__item
                        .movies-catalog__image
                            a.movies-catalog__link(href='#')
                                img(src='http://via.placeholder.com/580x360/b20054/ffffff' alt='title magazine')
                        a.movies-catalog__link(href='#')
                            h2.movies-catalog__title Бесобой

                        p.movies-catalog__desctiption Игорь Гром — опытный следователь из Санкт-Петербурга, известный своим пробивным характером и непримиримой позицией по отношению...
                        .movies-catalog__statistics
                            i.mdi.mdi-calendar-today(data-quantity='2017')
                            span КП: 6,138

    .section-box
        .container
            .main-about.wysiwyg.align-center
                p Добро пожаловать на официальный сайт издательства BUBBLE!<br>C 2012 года мы издаем оригинальные комиксы на русском языке, именно это слагаемые успеха BUBBLE.<br>C 2012 года мы издаем оригинальные комиксы на русском языке, и за это время успели выпустить сотни синглов, десятки сборников, выйти на международный рынок и начать производство фильмов. Наши истории читают сотни тысяч людей как в России, так и за рубежом.. Талантливые художники и сценаристы, оригинальные истории, высокое качество изданий, открытость новым читателям – именно это слагаемые успеха BUBBLE.
                p На нашем сайте вы можете найти не только подробную информацию о наших сериях, героях, планах на будущее и принять участие в конкурсах, но и посетить наш официальный магазин комиксов, где сможете заказать комиксы, сувенирную продукцию и одежду с символикой героев BUBBLE. Всё это вы можете сделать максимально быстро и удобно. Коллекция наших комиксов постоянно пополняется, новые выпуски серий выходят ежемесячно.
                p Начните своё знакомство со Вселенной BUBBLE прямо сейчас!
                p
                    img(src='img/logo-content.jpg' alt='bubble')

    include layouts/components/_main_subscription
