extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title Рецензии

            .private-navigate
                .private-navigate__box
                    a(href='#') Конкурс
                    a.is-current(href='#') Правила

            .reviews-section
                .article.wysiwyg
                    figure
                        img(src='img/12-reviews.jpg' alt='Правила участия')
                    .article__content.wysiwyg




                        ol
                            li Один человек может написать неограниченное количество отзывов на любые линейки наших комиксов. Объём также не ограничен. Форма подачи - не ограничена (это может быть рецензия, статья, просто эмоциональный отклик, рассуждения на тему и т.д.).

                            li Отзыв должен раскрывать мнение о самом “свежем” вышедшем выпуске любой из линеек.

                            li Отзыв не должен содержать нецензурной лексики или некорректных высказываний в адрес создателей (сценариста, художника, колориста и др.). При этом адекватная критика и замечания приветствуются.

                            li Организаторы конкурса оставляют за собой право введения и изменения условий конкурса без предварительного оповещения.

                            li Решение по выбору лучшего отзыва принимается редакцией BUBBLE и обжалованию не подлежит.

                        hr


                        p.align-center Специально для наших преданных читателей, мы создали единую подписку на все комиксы BUBBLE. Раз в месяц Вы будете получать 6 синглов, бережно упакованных <br> в защищенные пакеты

                        .align-center
                            a.button-in-basket.button-in-basket--go-button(href='#') Написать рецензию


    include layouts/components/_main_subscription
