extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            .reviews-section
                a.reviews-section__all-link(href='#')
                    i.mdi.mdi-chevron-left
                    span Все рецензии



                .review
                    .review__title-grid
                        .review__title-block
                            .review__title
                                i.mdi.mdi-seal
                                span Лед тронулся, господа присяжные заседатели!..
                            .review__info Павел Слесарев, 26 мая

                            .review__rating
                                include layouts/components/_rating

                        a.review__like-block.is-active(href='#')
                            i.mdi.mdi-heart
                            span 6

                    .review__content.wysiwyg

                        p В этом сборнике 7 частей. Пять из них составляют первую половину истории о Чумном Докторе + 2 бонусных истории - приквела. Чумной Доктор - такой "народный мститель" в маске, который считает, что человечество больно, зараза распространяется в виде коррупции и безнаказанности реальных преступников. Поэтому он берет на себя право карать. Все свои убийства он стилизует под средневековую тематику - сожжение, крысы, повешение.

                        p Так как цели, которые он выбирает, не самые белые и пушистые, то чувак получает вскоре широкую поддержку среди простых людей... А в полиции служит наш главный герой - Майор Гром (это фамилия такая) - и он такой прям законник до мозга костей и патриот своей страны. Хоть его методы работы нестандартны - можно сказать, кулак - лучший довод, главное для него - обезвредить преступника. И правда, Гром оказался для меня каким-то неприятным, действительно, напоминает зэка или представителя гоп-культуры, хотя и на приёмы всякие ходит, а сам очень "дворовый", что ли. А ещё он мужик! Вот прям, мужик-мужик, у которого кулаки вместо сосков (привет, Gravity Falls=). Персонаж странный, всё-таки, но, может, таким он и задумывался.

                        p Атмосфера, в которой происходит действие, показывает Россию не с самой лучшей стороны - с быдло-криминальной. Как будто действие происходит в 90х. Вердикт: линия расследования интересна, сам персонаж и атмосфера - не очень.


    include layouts/components/_main_subscription
