extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span результаты поиска «книга»


            .private-navigate
                .private-navigate__box
                    a.is-current(href='#') Комиксы
                    a(href='#') Товары
                    a(href='#') Блог
                    a(href='#') FAQ


            .blog-section
                .blog-section__grid.blog-section__grid--center

                    .blog-section__blog-box

                        .main-blog.main-blog--for-blog-page
                            .main-blog__item-box

                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Прямой эфир с Антоном <br> Габреляновым
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Премьера «Майора Грома»
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title По комиксу «Метеора» снимут фильм
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title По комиксу «Метеора» снимут фильм
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title По комиксу «Метеора» снимут фильм
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.




                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Bubble посетил Хомякон 2017
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Обложка 26-го выпуска серии «Метеора»!
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.


                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Bubble посетил Хомякон 2017
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Обложка 26-го выпуска серии «Метеора»!
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.



                                a.main-blog__item(href='#')
                                    .main-blog__image
                                        img(src='http://via.placeholder.com/280x220/b20054/ffffff' alt='title magazine')

                                    .main-blog__information
                                        .main-blog__statistics
                                            .main-blog__time 1 сентября
                                            i.mdi.mdi-eye(data-quantity='314')
                                            i.mdi.mdi-comment(data-quantity='28')
                                        .main-blog__title Обложка 26-го выпуска серии «Метеора»!
                                        .wysiwyg
                                            p В эту субботу на ХомяКон приедет ценный контрабандный груз — 26-й выпуск серии «Метеора»! В нём мы с гордостью представим вам новый авторский состав комикса, который отправит Ору и её друзей в такие места, куда не ступала нога человека! И махокуса.


    include layouts/components/_main_subscription
