extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span результаты поиска «книга»


            .private-navigate
                .private-navigate__box
                    a(href='#') Комиксы
                    a.is-current(href='#') Товары
                    a(href='#') Блог
                    a(href='#') FAQ


            .clothes-catalog

                .clothes-catalog__grid

                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                            a.tape-tag(href='https://www.buro247.ru/' data-hit) хит

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Толстовка худи Майор Гром</a>
                            .clothes-catalog__price 1950&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='https://burdastyle.ru/') в корзину

                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                            a.tape-tag(href='#' data-new) новинка

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Свитшот Майор Гром</a>
                            .clothes-catalog__price 1750&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину


                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                            a.tape-tag(href='#' data-new) новинка

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Футболка с вышивкой</a>
                            .clothes-catalog__price 900&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину


                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Стикерпак Майор Гром #1</a>
                            .clothes-catalog__price 490&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину


                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Толстовка худи Майор Гром</a>
                            .clothes-catalog__price 1950&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину


                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Стикерпак Майор Гром #1</a>
                            .clothes-catalog__price 490&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину


                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                            a.tape-tag(href='#' data-hit) хит

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Свитшот Майор Гром</a>
                            .clothes-catalog__price 1750&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину


                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                            a.tape-tag(href='#' data-new) новинка

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Футболка с вышивкой</a>
                            .clothes-catalog__price 900&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину
