extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h2.section-box__title
                a(href='#') все акции
            .shares
                .shares__slider-box

                    a.shares__slider-prev.js-shares-slider-prev(href='#')
                        i.mdi.mdi-chevron-left
                    a.shares__slider-next.js-shares-slider-next(href='#')
                        i.mdi.mdi-chevron-right

                    .shares__slider.js-shares-slider

                        .shares__item-slide.js-shares-slide
                            .shares__item-image
                                a.shares__link(href='#')
                                    img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                            .shares__item-informtion
                                a.shares__link(href='#')
                                    h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                    .shares__item-time-line 1 июня – 31 августа
                                    p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                            .shares__item-button-box
                                a.button-bubble(href='#') подробнее


                        .shares__item-slide.js-shares-slide
                            .shares__item-image
                                a.shares__link(href='#')
                                    img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                            .shares__item-informtion
                                a.shares__link(href='#')
                                    h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                    .shares__item-time-line 1 июня – 31 августа
                                    p.shares__item-description Зарегистрируйся на сайте, сделай первый заказ и мы добавим к нему 6 случайных комиксов.
                            .shares__item-button-box
                                a.button-bubble(href='#') подробнее


                        .shares__item-slide.js-shares-slide
                            .shares__item-image
                                a.shares__link(href='#')
                                    img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                            .shares__item-informtion
                                a.shares__link(href='#')
                                    h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                    .shares__item-time-line 1 июня – 31 августа
                                    p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                            .shares__item-button-box
                                a.button-bubble(href='#') подробнее


                        .shares__item-slide.js-shares-slide
                            .shares__item-image
                                a.shares__link(href='#')
                                    img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                            .shares__item-informtion
                                a.shares__link(href='#')
                                    h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                    .shares__item-time-line 1 июня – 31 августа
                                    p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                            .shares__item-button-box
                                a.button-bubble(href='#') подробнее


                        .shares__item-slide.js-shares-slide
                            .shares__item-image
                                a.shares__link(href='#')
                                    img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                            .shares__item-informtion
                                a.shares__link(href='#')
                                    h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                    .shares__item-time-line 1 июня – 31 августа
                                    p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                            .shares__item-button-box
                                a.button-bubble(href='#') подробнее


            hr

    section.section-box
        .container
            h2.section-box__title
                span скидки

            .private-navigate
                .private-navigate__box
                    a.is-current(href='#') О фильме
                    a(href='#') Книги
                    a(href='#') Синглы
                    a(href='#') Одежда
                    a(href='#') Аттрибутика
                    a(href='#') Фигурки
                    a(href='#') Канцотовары


            form.product-filter.product-filter--no-border.js-product-filter

                ul.product-filter__grid

                    li.product-filter__item.product-filter__item--first

                        a.js-product-filer-item(href='#')
                            span Все категории комиксов
                            i.mdi.mdi-chevron-down
                        .product-filter__select-popup-box
                            .product-filter__select-popup
                                ul

                                    li
                                        label.product-filter__label-checkbox
                                            em.product-filter__checkbox
                                                input(type='checkbox')
                                                i
                                            span Взрослые

                                    li
                                        label.product-filter__label-checkbox
                                            em.product-filter__checkbox
                                                input(type='checkbox')
                                                i
                                            span Детские

                                    li
                                        label.product-filter__label-checkbox
                                            em.product-filter__checkbox
                                                input(type='checkbox')
                                                i
                                            span Женские

                                    li
                                        label.product-filter__label-checkbox
                                            em.product-filter__checkbox
                                                input(type='checkbox')
                                                i
                                            span Мужские

                    li.product-filter__item.product-filter__item--clear

                        button(type='reset')
                            span Очистить фильтр

                    li.product-filter__item.product-filter__item--last

                        a.js-product-filer-item(href='#')
                            span Сортировка
                            i.mdi.mdi-chevron-down
                        .product-filter__select-popup-box
                            .product-filter__select-popup
                                ul

                                    li
                                        label.product-filter__label-checkbox
                                            em.product-filter__checkbox
                                                input(type='radio' name='lal')
                                                i
                                            span По дате

                                    li
                                        label.product-filter__label-checkbox
                                            em.product-filter__checkbox
                                                input(type='radio' name='lal')
                                                i
                                            span По цене


            .magazine-catalog
                .magazine-catalog__category-box

                    .magazine-catalog__grid

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='https://www.vogue.ru/')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')

                                    a.tape-tag(href='https://burdastyle.ru/' data-sale) хит
                                a.tag-white-gray(href='https://www.vogue.ru/')
                                    i.mdi.mdi-book-open-variant



                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-bubble(href='#') bubble club


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='https://www.vogue.ru/')
                                    img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-at

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #1
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #4
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-new) Новинка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/75ffb9/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-at

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #1
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #4
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-sale) Скидка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price <span class='magazine-catalog__old-price'>2500Р</span> 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #4
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-sale) Скидка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price <span class='magazine-catalog__old-price'>2500Р</span> 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #4
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-sale) Скидка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price <span class='magazine-catalog__old-price'>2500Р</span>  1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #4
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-sale) Скидка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #4
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-sale) Скидка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-bubble(href='#') bubble club


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #4
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-bubble(href='#') bubble club

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-sale) Скидка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину


                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/cd8faf/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Каменный взгляд #4
                                .magazine-catalog__price 1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-bubble(href='#') bubble club

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-sale) Скидка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price <span class='magazine-catalog__old-price'>2500Р</span>  1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-sale) Скидка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price <span class='magazine-catalog__old-price'>2500Р</span>  1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину

                        article.magazine-catalog__item
                            .magazine-catalog__item-image
                                a.magazine-catalog__link(href='#')
                                    img(src='http://via.placeholder.com/180x280/6ab4c8/ffffff' alt='title magazine')
                                a.tag-white-gray(href='#')
                                    i.mdi.mdi-book-open-variant


                                    a.tape-tag(href='#' data-sale) Скидка

                            .magazine-catalog__item-information

                                h3.magazine-catalog__title Что есть имя
                                .magazine-catalog__price <span class='magazine-catalog__old-price'>2500Р</span>  1950<span>&#8381;</span>
                                .magazine-catalog__button-block
                                    a.button-in-basket(href='#') в корзину
