extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            .shares
                h2.section-box__title
                    a(href='#') все акции

                .shares__grid

                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Зарегистрируйся и получи 6 комисков бесплатно
                                .shares__item-time-line бессрочно
                                p.shares__item-description Зарегистрируйся на сайте, сделай первый заказ и мы добавим к нему 6 случайных комиксов.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Зарегистрируйся и получи 6 комисков бесплатно
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Зарегистрируйся на сайте, сделай первый заказ и мы добавим к нему 6 случайных комиксов.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Зарегистрируйся и получи 6 комисков бесплатно
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Зарегистрируйся на сайте, сделай первый заказ и мы добавим к нему 6 случайных комиксов.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Зарегистрируйся и получи 6 комисков бесплатно
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Зарегистрируйся на сайте, сделай первый заказ и мы добавим к нему 6 случайных комиксов.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Зарегистрируйся и получи 6 комисков бесплатно
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Зарегистрируйся на сайте, сделай первый заказ и мы добавим к нему 6 случайных комиксов.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Зарегистрируйся и получи 6 комисков бесплатно
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Зарегистрируйся на сайте, сделай первый заказ и мы добавим к нему 6 случайных комиксов.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Зарегистрируйся и получи 6 комисков бесплатно
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Зарегистрируйся на сайте, сделай первый заказ и мы добавим к нему 6 случайных комиксов.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Зарегистрируйся и получи 6 комисков бесплатно
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Зарегистрируйся на сайте, сделай первый заказ и мы добавим к нему 6 случайных комиксов.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее


                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line 1 июня – 31 августа
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее



                    article.shares__item
                        .shares__item-image
                            a.shares__link(href='#')
                                img(src='http://via.placeholder.com/380x240/cd8faf/ffffff' alt='title magazine')
                        .shares__item-informtion
                            a.shares__link(href='#')
                                h3.shares__item-title Все выпуски серии Майор Гром одной посылкой
                                .shares__item-time-line бессрочно
                                p.shares__item-description Узнайте всю историю Майора Грома. Действие переносится в настоящее время, где Андрей в Атропосе расспрашивает о монстре.
                        .shares__item-button-box
                            a.button-bubble(href='#') подробнее



    include layouts/components/_main_subscription
