extends layouts/app_map_shop

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span Где купить книги

            .shops
                .shops__map
                    .shops__map-body#mapy
                    //form.shops__form.form
                    //    .form__input-block
                    //        input(type='search' placeholde='Москва')


                .shops__result-box



                    .shops__result-item.wysiwyg

                        h5 Сеть книжных магазинов "Библио-Глобус"

                        ul


                            li
                                .shops__result-item-content

                                    span г. Москва, ул. Мясницкая, д. 6/3, стр. 1 Торговый Дом «БИБЛИО-ГЛОБУС» м. «Лубянка»

                                    span.shops__gray-txt Сб-Вс: 10.00 - 21.00 Пн-Пт: 10.00 - 22.00

                                    span тел. +7 (495) 781-19-12

                                a.shops__site-link(href='http://www.bgshop.ru/' target='_blank') www.bgshop.ru



                    .shops__result-item.wysiwyg

                        h5 Торговый Дом Книги "Москва"

                        ul


                            li
                                .shops__result-item-content

                                    span ул. Тверская, д.8/2, стр.1

                                    span.shops__gray-txt с 08:00 до 23:00

                                    span тел. тел. + 7 495 629 64 83

                                a.shops__site-link(href='http://www.moscowbooks.ru/' target='_blank') www.moscowbooks.ru



                    .shops__result-item.wysiwyg

                        h5 Сеть магазинов "1С Интерес"

                        ul


                            li
                                .shops__result-item-content

                                    span ул. м. Войковская, ул. Клары Цеткин, д. 26а.

                                    span.shops__gray-txt тел. +7 (495) 450-63-47, +7 (495) 450-26-37, 8 (800)-333-42-63

                                a.shops__site-link(href='http://www.bgshop.ru/' target='_blank') www.bgshop.ru


                            li
                                .shops__result-item-content

                                    span м. Выставочная, Пресненская наб., д. 2 МТРЦ «Афимолл Сити», 1-й этаж, пав. А60

                                    span.shops__gray-txt тел. тел. +7 (495) 450-63-47, +7 (495) 450-26-37, 8 (800)-333-42-63


                            li
                                .shops__result-item-content

                                    span м. Войковская, ул. Клары Цеткин, д. 26а.

                                    span.shops__gray-txt тел. +7 (495) 450-63-47, +7 (495) 450-26-37, 8 (800)-333-42-63


                            li
                                .shops__result-item-content

                                    span м. Выставочная, Пресненская наб., д. 2 МТРЦ «Афимолл Сити», 1-й этаж, пав. А60

                                    span.shops__gray-txt тел. тел. +7 (495) 727-98-36

                            li
                                .shops__result-item-content

                                    span м. Выставочная, Пресненская наб., д. 2 МТРЦ «Афимолл Сити», 1-й этаж, пав. А60

                                    span.shops__gray-txt тел. тел. +7 (495) 727-98-36



                            li
                                .shops__result-item-content

                                    span ул. м. Войковская, ул. Клары Цеткин, д. 26а.

                                    span.shops__gray-txt тел. +7 (495) 450-63-47, +7 (495) 450-26-37, 8 (800)-333-42-63


                            li
                                .shops__result-item-content

                                    span м. Выставочная, Пресненская наб., д. 2 МТРЦ «Афимолл Сити», 1-й этаж, пав. А60

                                    span.shops__gray-txt тел. тел. +7 (495) 450-63-47, +7 (495) 450-26-37, 8 (800)-333-42-63


                            li
                                .shops__result-item-content

                                    span м. Войковская, ул. Клары Цеткин, д. 26а.

                                    span.shops__gray-txt тел. +7 (495) 450-63-47, +7 (495) 450-26-37, 8 (800)-333-42-63


                            li
                                .shops__result-item-content

                                    span м. Выставочная, Пресненская наб., д. 2 МТРЦ «Афимолл Сити», 1-й этаж, пав. А60

                                    span.shops__gray-txt тел. тел. +7 (495) 727-98-36

                            li
                                .shops__result-item-content

                                    span м. Выставочная, Пресненская наб., д. 2 МТРЦ «Афимолл Сити», 1-й этаж, пав. А60

                                    span.shops__gray-txt тел. тел. +7 (495) 727-98-36



                    .shops__result-item.wysiwyg

                        h5 Сеть книжных магазинов "Библио-Глобус"

                        ul


                            li
                                .shops__result-item-content

                                    span г. Москва, ул. Мясницкая, д. 6/3, стр. 1 Торговый Дом «БИБЛИО-ГЛОБУС» м. «Лубянка»

                                    span.shops__gray-txt Сб-Вс: 10.00 - 21.00 Пн-Пт: 10.00 - 22.00

                                    span тел. +7 (495) 781-19-12

                                a.shops__site-link(href='http://www.bgshop.ru/' target='_blank') www.bgshop.ru



                    .shops__result-item.wysiwyg

                        h5 Торговый Дом Книги "Москва"

                        ul


                            li
                                .shops__result-item-content

                                    span ул. Тверская, д.8/2, стр.1

                                    span.shops__gray-txt с 08:00 до 23:00

                                    span тел. тел. + 7 495 629 64 83

                                a.shops__site-link(href='http://www.moscowbooks.ru/' target='_blank') www.moscowbooks.ru

    include layouts/components/_main_subscription
