extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            h1.section-box__page-title
                span О нас
            .about-us.wysiwyg
                .private-navigate.private-navigate--movies
                    .private-navigate__box
                        a(href='#') Издательство
                        a.is-current(href='#') Вакансии
                        a(href='#') О нас говорят
                        a(href='#') Контакты

                p.align-center Говоря о комиксах, следует начать с личности Родольфа Тепфера, франкоязычного швейцарского художника, который стал ключевой фигурой в истории развития современного комикса.

                .logo-grid

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x35/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x40/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x40/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')

                    a.logo-grid__item(href='#')
                        img(src='http://via.placeholder.com/130x30/000000/ffffff' alt='company name')



    include layouts/components/_main_subscription
