extends layouts/application

block title
    title U-f

block main
    section.section-box
        .container
            .movies-about
                .movies-about__trailer.wysiwyg
                    iframe(width='560', height='315', src='https://www.youtube.com/embed/RLt65JxNsWI', frameborder='0', allowfullscreen='')

                .movies-about__title-block
                    h1 Бульвары разбитых витрин: последнее дело майора

                    .movies-about__share

                        .social-share

                            a.social-share__twitter(href='#')
                                i.mdi.mdi-twitter
                                .social-share__title Твитнуть
                                .social-share__counter(data-counter='0')

                            a.social-share__facebook(href='#')
                                i.mdi.mdi-facebook
                                .social-share__title Поделиться
                                .social-share__counter(data-counter='4')

                            a.social-share__vk(href='#')
                                i.mdi.mdi-vk
                                .social-share__title Поделиться
                                .social-share__counter(data-counter='2')

                            a.social-share__google(href='#')
                                i.mdi.mdi-google-plus
                                .social-share__counter(data-counter='0')

                            a.social-share__ok(href='#')
                                i.mdi.mdi-odnoklassniki
                                .social-share__counter(data-counter='0')

                            a.social-share__alt(href='#')
                                i


                .private-navigate.private-navigate--movies
                    .private-navigate__box
                        a(href='#') О фильме
                        a(href='#') За кадром
                        a.is-current(href='#') Саундтрек


                .movies-about__sound-list

                    //a.movies-about__sound-line(href='#' data-flash='false')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>Face of an Angel</b>
                    //    span.movies-about__track-time 3:41
                    //
                    //a.movies-about__sound-line(href='#' data-flash='true')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>It Might Be Better feat.</b> David Mead Jr. — David Mead Jr., Roman Seliverstov
                    //    span.movies-about__track-time 3:22
                    //
                    //
                    //a.movies-about__sound-line(href='#' data-flash='false')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>A Broken Cash Machine</b>
                    //    span.movies-about__track-time 3:22
                    //
                    //
                    //a.movies-about__sound-line(href='#' data-flash='false')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>Move Like a Devilfeat.</b>  David Mead Jr. — David Mead Jr., Roman Seliverstov
                    //    span.movies-about__track-time 1:25
                    //
                    //
                    //a.movies-about__sound-line(href='#' data-flash='true')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>Good Idea</b>
                    //    span.movies-about__track-time 3:12
                    //
                    //
                    //a.movies-about__sound-line(href='#' data-flash='true')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>The Housebreaker</b>
                    //    span.movies-about__track-time 5:23
                    //
                    //
                    //a.movies-about__sound-line(href='#' data-flash='true')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>Gang Leader Freaks Out</b>
                    //    span.movies-about__track-time 1:22
                    //
                    //
                    //a.movies-about__sound-line(href='#' data-flash='true')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>Ice Cold Driver</b>
                    //    span.movies-about__track-time 3:22
                    //
                    //
                    //a.movies-about__sound-line(href='#' data-flash='false')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>Ice Cold Driver</b>
                    //    span.movies-about__track-time 1:24
                    //
                    //a.movies-about__sound-line(href='#' data-flash='false')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>Police Arrives</b>
                    //    span.movies-about__track-time 0:42
                    //
                    //
                    //a.movies-about__sound-line(href='#' data-flash='false')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>A Broken Cash Machine</b>
                    //    span.movies-about__track-time 3:22
                    //
                    //
                    //a.movies-about__sound-line(href='#' data-flash='false')
                    //    i.mdi.mdi-flash.movies-about__track-icon
                    //    span.movies-about__track-name <b>Move Like a Devilfeat.</b>  David Mead Jr. — David Mead Jr., Roman Seliverstov
                    //    span.movies-about__track-time 3:22

                    iframe(frameborder='0', style='border:none;width:900px;height:600px;', width='900', height='600', src='https://music.yandex.ru/iframe/#album/4214590/')
                        | Слушайте
                        a(href='https://music.yandex.ru/album/4214590') Major Grom
                        |  —
                        a(href='https://music.yandex.ru/artist/4970709') Roman Seliverstov
                        |  на Яндекс.Музыке

            hr


    .section-box.section-box--post-promo
        .container
            h2.section-box__title
                a(href='#') комиксы майор гром

            .magazine-catalog

                .magazine-catalog__grid

                    article.magazine-catalog__item
                        .magazine-catalog__item-image
                            a.magazine-catalog__link(href='#')
                                img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                            a.tag-white-gray(href='#')
                                i.mdi.mdi-at

                        .magazine-catalog__item-information

                            h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                            .magazine-catalog__price 50&nbsp;<span>&#8381;</span>
                            .magazine-catalog__button-block
                                a.button-bubble(href='#') bubble club


                    article.magazine-catalog__item
                        .magazine-catalog__item-image
                            a.magazine-catalog__link(href='#')
                                img(src='http://via.placeholder.com/180x280/000000/ffffff' alt='title magazine')
                            a.tag-white-gray(href='#')
                                i.mdi.mdi-book-open-variant

                        .magazine-catalog__item-information

                            h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                            .magazine-catalog__price 50&nbsp;<span>&#8381;</span>
                            .magazine-catalog__button-block
                                a.button-in-basket(href='#') в корзину

                    article.magazine-catalog__item
                        .magazine-catalog__item-image
                            a.magazine-catalog__link(href='#')
                                img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                            a.tag-white-gray(href='#')
                                i.mdi.mdi-at

                        .magazine-catalog__item-information

                            h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                            .magazine-catalog__price 50&nbsp;<span>&#8381;</span>
                            .magazine-catalog__button-block
                                a.button-bubble(href='#') bubble club


                    article.magazine-catalog__item
                        .magazine-catalog__item-image
                            a.magazine-catalog__link(href='#')
                                img(src='http://via.placeholder.com/180x280/000000/ffffff' alt='title magazine')
                            a.tag-white-gray(href='#')
                                i.mdi.mdi-book-open-variant

                        .magazine-catalog__item-information

                            h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                            .magazine-catalog__price 50&nbsp;<span>&#8381;</span>
                            .magazine-catalog__button-block
                                a.button-in-basket(href='#') в корзину

                    article.magazine-catalog__item
                        .magazine-catalog__item-image
                            a.magazine-catalog__link(href='#')
                                img(src='http://via.placeholder.com/180x280/b20054/ffffff' alt='title magazine')
                            a.tag-white-gray(href='#')
                                i.mdi.mdi-at

                        .magazine-catalog__item-information

                            h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                            .magazine-catalog__price 50&nbsp;<span>&#8381;</span>
                            .magazine-catalog__button-block
                                a.button-bubble(href='#') bubble club


                    article.magazine-catalog__item
                        .magazine-catalog__item-image
                            a.magazine-catalog__link(href='#')
                                img(src='http://via.placeholder.com/180x280/000000/ffffff' alt='title magazine')
                            a.tag-white-gray(href='#')
                                i.mdi.mdi-book-open-variant

                        .magazine-catalog__item-information

                            h3.magazine-catalog__title <a href='#' class='magazine-catalog__link'>Бумажный порез #1</a>
                            .magazine-catalog__price 50&nbsp;<span>&#8381;</span>
                            .magazine-catalog__button-block
                                a.button-in-basket(href='#') в корзину

            hr

    .section-box.section-box--post-promo
        .container

            .clothes-catalog.clothes-catalog--no-buffer
                h2.section-box__title
                    a(href='https://burdastyle.ru/') толстовки майор гром

                .clothes-catalog__grid

                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                            a.tape-tag(href='https://www.buro247.ru/' data-hit) хит

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Толстовка худи Майор Гром</a>
                            .clothes-catalog__price 1950&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='https://burdastyle.ru/') в корзину

                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                            a.tape-tag(href='#' data-new) новинка

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Свитшот Майор Гром</a>
                            .clothes-catalog__price 1750&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину


                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')
                            a.tape-tag(href='#' data-new) новинка

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Футболка с вышивкой</a>
                            .clothes-catalog__price 900&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину


                    article.clothes-catalog__item
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='#')
                                img(src='http://via.placeholder.com/280x280/8072b5/ffffff' alt='title magazine')

                        .clothes-catalog__item-information

                            h3.clothes-catalog__title <a href='#' class='clothes-catalog__link'>Стикерпак Майор Гром #1</a>
                            .clothes-catalog__price 490&nbsp;<span>&#8381;</span>
                            .clothes-catalog__button-block
                                a.button-in-basket(href='#') в корзину

    include layouts/components/_main_subscription
