extends layouts/application

block title
    title U-f

block main
    .section-box.section-box--over
        .container
            h1.section-box__page-title
                span вселенная

            .private-navigate.private-navigate--universe
                .private-navigate__box
                    a(href='#') Персонажи
                    a.is-current(href='#') Обои


            .filter-slider.filter-slider--not-fade
                .filter-slider__body.js-filter-slider-universe

                    a.filter-slider__item.is-all.js-filter-all(href='#')
                        span ВСЕ

                    a.filter-slider__item.is-all(href='#' data-mantis)
                        span время<br>ворона

                    a.filter-slider__item.is-all(href='#' data-danube)
                        span бесобой

                    a.filter-slider__item.is-all(href='#' data-flamingo)
                        span МАЙОР<br>ГРОМ

                    a.filter-slider__item.is-all(href='#' data-carnation)
                        span красная<br>фурия

                    a.filter-slider__item.is-all(href='#' data-neon-carrot)
                        span экслибриум

                    a.filter-slider__item.is-all(href='#' data-mantis)
                        span мироходцы

                    a.filter-slider__item.is-all(href='#' data-fuchsia-blue)
                        span Союзники

                    a.filter-slider__item.is-all(href='#' data-neon-carrot)
                        span экслибриум

                    a.filter-slider__item.is-all(href='#' data-mantis)
                        span мироходцы

                    a.filter-slider__item.is-all(href='#' data-fuchsia-blue)
                        span Союзники

                a.filter-slider__slick-next.js-filter-slider-next(href='#')
                    i.mdi.mdi-chevron-right

            hr

            .clothes-catalog
                h2.section-box__title
                    a(href='https://burdastyle.ru/') Футболки

                .clothes-catalog__grid

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')

                    article.clothes-catalog__item.js-open-image
                        .clothes-catalog__item-image
                            a.clothes-catalog__link(href='https://www.vogue.ru/')
                                img(src='http://via.placeholder.com/280x160/598cb2/ffffff' alt='title magazine')



                .pagination

                    a.pagination__nav-button(href='#')
                        i.mdi.mdi-chevron-left

                    a.is-active(href='#') 1

                    a(href='#') 2

                    a.is-desktop(href='#') 3

                    a(href='#') ...

                    a.is-desktop(href='#') 17

                    a(href='#') 18

                    a.pagination__nav-button(href='#')
                        i.mdi.mdi-chevron-right

    include layouts/components/_index_teaser
    include layouts/components/_promo_section
    include layouts/components/_schedule

    .section-box
        .container
            .main-about.wysiwyg.align-center
                p Добро пожаловать на официальный сайт издательства BUBBLE! C 2012 года мы издаем оригинальные комиксы на русском языке, и за это время успели выпустить сотни синглов, десятки сборников, выйти на международный рынок и начать производство фильмов. Наши истории читают сотни тысяч людей как в России, так и за рубежом.. Талантливые художники и сценаристы, оригинальные истории, высокое качество изданий, открытость новым читателям – именно это слагаемые успеха BUBBLE.
                p На нашем сайте вы можете найти не только подробную информацию о наших сериях, героях, планах на будущее и принять участие в конкурсах, но и посетить наш официальный магазин комиксов, где сможете заказать комиксы, сувенирную продукцию и одежду с символикой героев BUBBLE. Всё это вы можете сделать максимально быстро и удобно. Коллекция наших комиксов постоянно пополняется, новые выпуски серий выходят ежемесячно.
                p Начните своё знакомство со Вселенной BUBBLE прямо сейчас!
                p
                    img(src='img/logo-content.jpg' alt='bubble')


    include layouts/components/_main_subscription
