.site-navigate__sub-menu-box
    .site-navigate__sub-menu-body
        .site-navigate__sub-menu-catalog
            .site-navigate__catalog-box

                .site-navigate__catalog-sub-title(data-title='серии')
                ul

                    li
                        a(href='#') Майор Гром - Игорь Гром

                    li
                        a(href='#') Бесобой

                    li
                        a(href='#') Инок - Мироходцы

                    li
                        a(href='#') Красная Фурия - Союзники

                    li
                        a(href='#') Экслибриум

                    li
                        a(href='#') Метеора



            .site-navigate__catalog-box

                .site-navigate__catalog-sub-title(data-title='Категории')

                ul

                    li
                        a(href='#') Печатная продукция

                    li
                        a(href='#') Кружки

                    li
                        a(href='#') Сувениры

                    li
                        a(href='#') Фигурки


        .site-navigate__sub-menu-catalog-popular
            .site-navigate__catalog-sub-title(data-title='популярные товары')
            .site-navigate__slider-container
                a.site-navigate__menu-popular-slider-next.js-promo-slider-stuf-next(href='#')
                    i.mdi.mdi-chevron-right
                .site-navigate__slider-box
                    .site-navigate__slider-stuf.js-menu-popular-slider-stuf

                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff' alt='title')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р

