.site-navigate__sub-menu-box
    .site-navigate__sub-menu-body
        .site-navigate__sub-menu-catalog
            .site-navigate__catalog-box

                h6.site-navigate__catalog-sub-title(data-title='серии')
                ul

                    li
                        a(href='#') Майор Гром

                    li
                        a(href='#') Игорь Гром

                    li
                        a(href='#') Бесобой

                    li
                        a(href='#') Инок

                    li
                        a(href='#') Мироходцы



            .site-navigate__catalog-box

                h6.site-navigate__catalog-sub-title(data-title='')
                ul

                    li
                        a(href='#') Красная Фурия

                    li
                        a(href='#') Союзники

                    li
                        a(href='#') Экслибриум

                    li
                        a(href='#') Метеора


        .site-navigate__sub-menu-catalog-popular
            h6.site-navigate__catalog-sub-title(data-title='популярные товары')
            .site-navigate__slider-container
                a.site-navigate__menu-popular-slider-next.js-promo-slider-stuf-next(href='#')
                    i.mdi.mdi-chevron-right
                .site-navigate__slider-box
                    .site-navigate__slider-stuf.js-menu-popular-slider-stuf

                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р


                        .site-navigate__slider-item.site-navigate__slider-item--stuf.js-menu-popular-slide-stuf(href='#')
                            a.site-navigate__link(href='#')
                                .site-navigate__item-image
                                    img(src='http://via.placeholder.com/180x180/666666/ffffff')
                            a.site-navigate__link(href='#')
                                .site-navigate__slide-information
                                    .site-navigate__title Толстовка Майор Гром
                                    .site-navigate__price 1 950Р

